# VSCode files
.vscode/*
*.code-workspace
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# others
Downloaded*.txt
_backup/*
build/*
dist/*
dist*/*
old/*
config.ini
config.ini.error*
list.txt
*.log
*.bat
db.sqlite
*.pyc
*.zip
*.7z
image*.html
error*.html
*.source*/*
Images/*
testapp*/*
.idea/*
*.bak
*.pyo
pixivutil.log*
.pytest_cache/*
__pycache__/*

.idea/*
.vs/*
blacklist_members.txt
blacklist_tags.txt
blacklist_titles.txt
batch_job.json
Dump*
ffmpeg.exe
ignore_list.txt
numpy-atlas.dll
tags.txt
url_list_*.txt
test.db.sqlite
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Error*
