Downloaded*.txt
_backup/*
build/*
dist/*
old/*
config.ini
config.ini.error*
list.txt
*.log
*.bat
db.sqlite
*.pyc
*.zip
*.7z
image*.html
error*.html
*.source*/*
Images/*
testapp*/*
.idea/*
*.bak
*.pyo
pixivutil.log*
.pytest_cache/*
__pycache__/*
.vscode/*
.idea/*
blacklist_members.txt
blacklist_tags.txt
ffmpeg.exe
ignore_list.txt
numpy-atlas.dll
tags.txt
url_list_*.txt
test.db.sqlite
