@charset 'utf-8';


div.worksShare div.embed {
	padding: 5px 10px;
}

div.worksShare div.embed dt {
	text-align: left;
}

div.worksShare div.embed dd + dt {
	margin-top: 10px;
}

div.worksShare div.embed div {
	margin: 0 0 5px;
}

div.worksShare div.embed div.sample {
	text-align: right;
	font-size: 11px;
}

div.worksShare textarea {
	width: 168px;
	height: 50px;
	padding: 0;
}

div.worksShare div.embed #embed-input {
	width: 168px;
	padding: 0;
}

div.worksShare div.embed #embed-select {
	width: 170px;
	margin: 0;
}

.selectbox {
	display: block;
	position: relative;
	width: 101px;
	padding-right: 27px;
	text-align: left;
	background: url('http://source.pixiv.net/source/images/common/search_pulldown.png') no-repeat scroll 109px 50%;
	border: 1px solid #ced6de;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px #f9f9fb;
	-moz-box-shadow: 0 1px 1px #f9f9fb;
}

.selectbox.w150 {
	width:151px;
	background: url('http://source.pixiv.net/source/images/common/search_pulldown.png') no-repeat scroll 159px 50%;
}

.selectbox:hover {
	background-image: url('http://source.pixiv.net/source/images/common/search_pulldown_on.png');
}

.selectbox div.current {
	height: 18px;
	padding: 4px 6px;
	line-height: normal;
	border-right: 1px solid #ced6de;
}

.selectbox ul.items {
	display: none;
	position: absolute;
	width: 128px;
	margin: -3px 0 0 -1px;
	background: #f2f4f6 url('http://source.pixiv.net/source/images/common/selectbox-line.png') repeat-x scroll -99px 0;
	border: 1px solid #ced6de;
	border-top: none;
	z-index:1;
}

.selectbox.w150 ul.items {
	width: 178px;
}

.selectbox ul.items li {
	color:#000000;
	display: block;
	margin: 0;
	padding: 0;
}
.selectbox ul.items li + li {
	margin-top: 1px;
}

.selectbox ul.items li a {
	display: block;
	padding: 0 6px;
	line-height: 2;
	text-decoration: none;
	color: inherit;
}

.selectbox ul.items li.current a,
.selectbox ul.items li a:hover {
	color: #fff;
	background-color: #258fb8;
}

.selectbox ul.items li.current a {
	cursor: default;
}

.rankingPager .selectbox {
	display: inline-block;
	vertical-align: middle;
}

.calender_ranking_navi .selectbox {
    display: inline-block;
    vertical-align: middle;
}


p.note {
	font-size: 11px;
	color: #999;
}

ul.tag-preference {
	float: right;
	margin-top: -30px;
}

li#edit-tag {
	position: relative;
}

li.edit-group .container {
	margin: 0;
}


#edit-tag-preference {
	right: 0;
}


li#favorite-container,
li#mypixiv-container {
	margin: 5px 0 5px 10px;
}

.apply_mypixiv a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -132px;
	display: block;
	height: 26px;
	margin: 0 0 5px 10px;
	text-indent: -9999px;
	width: 156px; }
 
.apply_mypixiv_on a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -158px;
	display: block;
	height: 26px;
	margin: 0 0 5px 10px;
	text-indent: -9999px;
	width: 156px; }
 
.apply_mypixiv_on2 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -860px;
	display: block;
	height: 26px;
	margin: 0 0 5px 10px;
	text-indent: -9999px;
	width: 156px; }

a#favorite-button,
a#mypixiv-button {
	display: block;
	width: 156px;
	height: 26px;
}
a#favorite-button {
	background: url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat 0 -80px;
}
a#mypixiv-button {
	background: url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat 0 -132px;
}
a#favorite-button.added { background-position: 0 -106px; }
a#mypixiv-button.added { background-position: 0 -158px; }
a#favorite-button.open { background-position: 0 -184px; }
a#mypixiv-button.open { background-position: 0 -860px; }


div.ranking-link-container {
	margin: 0 0 10px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #d6dee5;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

div.ranking-link-container ul {
	text-align: center;
}

div.ranking-link-container ul li {
	display: inline;
}

a.button-ranking {
	display: inline-block;
	width: 103px;
	margin: 0 2px;
	font-size: 10px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

a.button-ranking:hover {
	text-decoration: none;
}

a.button-ranking.archive {
	text-shadow: 0 0 5px #ff4f04;
	background: #ffcf10;
	background: -moz-linear-gradient(top, #ffcf10 0%, #ff940a 49%, #ff4f04 50%, #ff7908 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcf10), color-stop(49%,#ff940a), color-stop(50%,#ff4f04), color-stop(100%,#ff7908));
	background: -webkit-linear-gradient(top, #ffcf10 0%,#ff940a 49%,#ff4f04 50%,#ff7908 100%);
	background: -o-linear-gradient(top, #ffcf10 0%,#ff940a 49%,#ff4f04 50%,#ff7908 100%);
	background: -ms-linear-gradient(top, #ffcf10 0%,#ff940a 49%,#ff4f04 50%,#ff7908 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf10', endColorstr='#ff7908',GradientType=0 );
	background: linear-gradient(top, #ffcf10 0%,#ff940a 49%,#ff4f04 50%,#ff7908 100%);
	border: 1px solid #ff9900;
}

a.button-ranking.area {
	text-shadow: 0 0 5px #a90077;
	background: #d070ba;
	background: -moz-linear-gradient(top, #d070ba 0%, #c146a2 49%, #a90077 50%, #d80692 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d070ba), color-stop(49%,#c146a2), color-stop(50%,#a90077), color-stop(100%,#d80692));
	background: -webkit-linear-gradient(top, #d070ba 0%,#c146a2 49%,#a90077 50%,#d80692 100%);
	background: -o-linear-gradient(top, #d070ba 0%,#c146a2 49%,#a90077 50%,#d80692 100%);
	background: -ms-linear-gradient(top, #d070ba 0%,#c146a2 49%,#a90077 50%,#d80692 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d070ba', endColorstr='#d80692',GradientType=0 );
	background: linear-gradient(top, #d070ba 0%,#c146a2 49%,#a90077 50%,#d80692 100%);
	border: 1px solid #ae037b;
}

li.user-status dd.group.loading {
	background: url('http://source.pixiv.net/source/images/loading_16.gif') no-repeat 105px 50%;
}

div.dialog select {
	width: 98px;
	margin: 0;
}

div.dialog input[type='text'] {
	width: 160px;
}

div.dialog p.recommend {
	margin: 5px 0;
	padding: 5px 15px;
	line-height: normal;
	background-color: #f2f4f6;
}

div.dialog p.recommend a {
	font-size: 10px;
}

div.dialog {
	margin-top: -5px;
	/* TODO .person_menuの方を直す */
	text-align: left;
	line-height: normal;
}

div.dialog p {
	margin: 0 5px 5px;
}

div.dialog dt {
	margin: 0 0 5px 10px;
}
div.dialog dd + dt {
	margin-top: 10px;
}

div.dialog dd {
	margin: 0 0 0 15px;
}

div.dialog dd label + label {
	margin-left: 10px;
}

div.dialog .action {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #d2e2ea;
}

div.dialog .button {
	width: 100px !important;
	padding: 3px 0 !important;
}
div.dialog .button + .button {
	margin-left: 5px;
}


#group-status {
	display: none;
	background-color: #ffff99;
}

div.dialog {
	display: none;
	position: absolute;
	z-index: 1000;
	width: 210px;
	padding: 20px 10px 10px 10px;
	background-color: #fff;
	border: 1px solid #cfe0e9;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#dialog {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
}
#dialog .main {
	position: relative;
	width: 250px;
	margin: 0 auto;
	padding: 10px 25px 15px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #cfe0e9;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#dialog p {
	margin: 15px 0;
}

div.dialog .close,
#dialog .close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
/*	text-indent: -9999px;*/
	background: url('http://source.pixiv.net/source/images/sprite.png') -1701px -204px;
	cursor: pointer;
	opacity: 0.8;
}

div.dialog .close:hover,
#dialog .close:hover {
	opacity: 1;
}

#dialog .background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e4e7ee;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* TODO 全体に適用 */
/* FIXME IE7でボタンが広くなる */
input.pixiv-button,
div.dialog .button,
a.button,
.form-signup button,
#dialog input[type="submit"],
#dialog .button {
	display: inline-block;
	padding: 4px 10px;
	text-shadow: #fcfcf8 0 1px 2px;
	text-decoration: none;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
/*	font-family: メイリオ, Meiryo, sans-serif;*/
	color: #258fb8;
	text-align: center;
	background-color: rgb(241, 241, 223);
	background-image: linear-gradient(top, #fefefc, #e5e5c3);
	background-image: -moz-linear-gradient(top, #fefefc, #e5e5c3);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefc), color-stop(1, #e5e5c3));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#fefefc", EndColorStr="#e5e5c3");
	border: 1px solid #cfe0e9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

input.pixiv-button.minibutton {
	padding:0px 4px;
	font-size:10px;
	font-weight:normal;
}

input.pixiv-button:hover,
div.dialog .button:hover,
.form-signup button:hover,
a.button:hover,
.form-signup input[type="submit"]:hover,
#dialog input[type="submit"]:hover,
#dialog .button:hover {
	background-color: rgb(241, 241, 223);
	background-image: linear-gradient(top, #fcfcf8, #c6c674);
	background-image: -moz-linear-gradient(top, #fcfcf8, #c6c674);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcf8), color-stop(1, #c6c674));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#fcfcf8", EndColorStr="#c6c674");
}

/*	新規登録のオレンジボタン*/

.index_signup_dl input[type="submit"],
.form-register input[type="submit"],
a.signup_button{
   background-color: #FF8A40;
   background-image: -moz-linear-gradient(center top , #FFBC59, #FF5524);
   border: 1px solid #FF8A40;
   border-radius: 5px 5px 5px 5px;
   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   font-size: 18px;
   font-weight: bold;
   margin: 10px 0 0;
   padding: 4px 39px;
   text-align: center;
   text-decoration: none;
   text-shadow: 0 1px 2px #000000;
   vertical-align: middle;
}

.index_signup_dl input[type="submit"]:hover,
.form-register input[type="submit"]:hover,
a.signup_button:hover{
	background-color: #ff6300;
	background-image: linear-gradient(top, #ff805b, #ff3900);
	background-image: -moz-linear-gradient(top, #ff805b, #ff3900);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff805b), color-stop(1, #ff3900));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#ff805b", EndColorStr="#ff3900");
}


/* TODO remove */
#forIE {
	background: #ffffcc;
	border-bottom: 1px solid #d6dee5;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 15px 0 20px 0;
	text-align: center; }
 
.icon_ie {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -0px -186px;
	font-size: 40px;
	padding-left: 40px; }
 
#contents { margin: 0 ; }
 
.index {
	height: 840px;
	margin: 10px auto 15px auto;
	width: 970px; }
 
#header .index_header_menu {
	float: left;
	font-size: 14px;
	padding: 20px 0 0 25px;
	width: 330px; }
 
	#header .index_header_menu li {
		background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -1000px 3px;
		display: inline;
		margin: 0px 0 0px 15px; }
 
#header .header_index_login {
	float: right;
	text-align: left;
	vertical-align: top;
	width: 390px; }
 
.index_align input {
	border: none;
	vertical-align: middle; }
 
.index_bt {
	background: url('http://source.pixiv.net/source/images/sprite_20100725a.png') no-repeat -359px 0px;
	border: 0;
	color: #258fb8;
	height: 26px;
	margin-left: 3px;
	width: 79px; }
 
.index_left {
	float: left;
	width: 570px; }
 
	.index_left h2 {
		height: 65px;
		text-align: center; }
 
.index_leftTop {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -0px -0px;
	height: 5px;
	width: 570px; }
 
.index_leftBody {
	background: #ffffff;
	border-left: 1px solid #d6dee5;
	border-right: 1px solid #d6dee5;
	padding: 15px 19px 15px 19px;
	width: 530px; }
 
.index_leftBottom {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -0px -45px;
	height: 5px;
	width: 570px; }
 
.indexSearch {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -350px -50px;
	height: 45px;
	padding: 1px 0 0px 65px;
	width: 465px; }
 
.index_InnerTop {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -350px -100px;
	margin: 15px 0 0 0;
	width: 530px; }
 
.index_InnerBody {
	border-left: 1px solid #d6dee5;
	border-right: 1px solid #d6dee5;
	overflow: hidden;
	padding: 10px 20px;
	position: relative;
	width: 488px; }
 
.index_InnerBottom {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -350px -125px;
	height: 5px;
	margin: 0 0 15px 0;
	width: 530px; }
 
.index_InnerBody .member img {
	margin-right: 10px;
	vertical-align: middle; }
 
.index_InnerBody h1 {
	position: relative;
	font-size: 14px;
	height: 5px;
	padding: 0 0 9px 0;
}

.index_InnerBody h1 img {
	float: left;
	height: 30px;
	margin: -10px 0 0 0;
	width: 30px;
}

.index_InnerBody h1 p {
	float: left;
	line-height: 22px;
	margin: -6px 0 0 5px;
}

.index_InnerBody h2 {
	line-height: 22px;
	margin: 15px 0 20px 0 ; }

.index_InnerBody dl {  }
 
.index_InnerBody dt {
	font-size: 14px;
	margin: 0 0 4px 0;
	width: 50px; }
 
.index_InnerBody dd {
	font-size: 14px;
	margin-left: 50px;
	margin-top: -30px;
	vertical-align: top; }
 
	.index_InnerBody dd img {
		margin-right: 5px;
		vertical-align: middle; }
 
.index_InnerBody a:hover img { border: 0; }
 
.div.index_InnerBody {
	margin: 0 auto;
	width: 720px; }
 
div.index_InnerBody ul {  }
 
div.index_InnerBody li {
	background: #ffffff;
	border: 1px solid #ffffff;
	float: left;
	height: 170px;
	margin: 5px 0px 35px;
	text-align: center;
	width: 160px;
	position:relative; }
 
	div.index_InnerBody li:nth-child(3n+4) { clear: both; }
 
.index_InnerBody li img {
	border: 1px solid #ffffff;
	margin-bottom: 5px;
	padding: 2px; }
 
.index_InnerBody li input { vertical-align: middle; }
 
.index_InnerBody li a:hover img {
	border: 1px solid #d0d0d0;
	padding: 2px; }
 
.index_leftBody .tagCloud {
	line-height: 22px;
	padding: 10px 20px; }
 
.index_TopBody {
	padding: 10px 0px 10px 0px;
	width: 530px; }
 
	.index_TopBody ul {  }
 
	.index_TopBody li {
		float: left;
		height: 170px;
		margin: 5px 0px 35px 0px;
		position: relative;
		text-align: center;
		width: 175px; }
 
		.index_TopBody li:nth-child(3n+4) { clear: both; }
 
		.index_TopBody li img {
			border: 1px solid #ffffff;
			margin-bottom: 5px;
			padding: 2px; }
 
		.index_TopBody li input { vertical-align: middle; }
 
		.index_TopBody li a:hover img {
			border: 1px solid #d0d0d0;
			padding: 2px; }
 
.index_right {
	float: right;
	width: 390px; }
 
.indexBox {
	overflow: hidden;
	padding: 30px 20px;
	position: relative;
	width: 490px; }
 
	.indexBox ul {
		float: left;
		left: 50%;
		position: relative; }
 
	.indexBox li {
		float: left;
		left: -50%;
		margin: 0 5px 35px 5px;
		position: relative;
		text-align: center;
		width: 150px; }
 
	.indexBox p {
		line-height: 22px;
		margin: 15px 0 20px 0 ; }
 
.indexBoxWorks {
	padding: 15px 0 0 0;
	width: 490px; }
 
.indexBoxLeft {
	float: left;
	width: 180px; }
 
	.indexBoxLeft img {
		border: 1px solid #ffffff;
		margin-bottom: 5px;
		padding: 2px;
		vertical-align: middle; }
 
	.indexBoxLeft input { vertical-align: middle; }
 
	.indexBoxLeft a:hover img {
		border: 1px solid #d0d0d0;
		padding: 2px; }
 
.indexBoxRight {
	float: left;
	padding: 0 0 10px 0;
	text-align: left;
	width: 310px; }
 
.index_rightTop {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -570px -0px;
	height: 5px;
	width: 390px; }
 
.index_rightBottom {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -570px -45px;
	height: 5px;
	margin: 0 0 10px 0;
	width: 390px; }
 
.index_rightBody {
	background: #ffffff;
	border-left: 1px solid #d6dee5;
	border-right: 1px solid #d6dee5;
	padding: 15px 0;
	width: 388px; }
 
.index_news {
	line-height: 20px;
	margin: -10px 0 -10px 0;
	padding: 0 10px;
	text-align: left;
	width: 348px; }
 
.index_signup {
	padding: 0 20px;
	width: 350px; }
 
.security_area {
	height: 300px;
	padding: 20px;
	width: 350px; }
 
.index_signup span { vertical-align: baseline; }
 
.index_signup_dl dl { line-height: 20px; }
 
.index_signup_dl dt {
	text-align: right;
	width: 120px; }
 
	.index_signup_dl dt span { vertical-align: bottom; }
 
.index_signup_dl dd span {
	margin: 0 0 0 10px;
	text-indent: -9999px; }
 
.index_signup_dl dd {
	margin-bottom: 5px;
	margin-left: 135px;
	margin-top: -22px; }
 
 
.index_fanpage {
	background: #f2f4f6;
	line-height: 20px;
	margin: 15px auto 0 auto;
	padding: 15px 0 15px 0;
	text-align: center;
	width: 330px; }
 
.index_device_iphone a {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -0px -50px;
	display: block;
	height: 60px;
	margin-left: 20px;
	text-indent: -9999px;
	width: 350px; }
 
.index_device_mobile a {
	background: url('http://source.pixiv.net/source/images/sprite_index.png') no-repeat -0px -110px;
	display: block;
	height: 60px;
	margin-left: 20px;
	margin-top: 10px;
	text-indent: -9999px;
	width: 350px; }
 
.index_security {
	line-height: 24px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 302px; }
 
	.index_security ul {
		float: left;
		left: 50%;
		margin: 20px 0 0 0;
		position: relative; }
 
	.index_security li {
		float: left;
		left: -50%;
		position: relative; }
 
	.index_security span { font-weight: bold; }
 
.index_security_help {
	font-size: 10px;
	text-align: right; }

	


/*    2010/11/01 by miiiiiiiiiiii    */

.front-content {
 position:relative;
 background: #f2f4f6;
 width: 970px;
 margin: 10px auto;
 border: 1px solid #d6dee5;
 border-radius: 5px;
    -webkit-border-top-right-radius: 5px;  
    -webkit-border-bottom-right-radius: 5px;  
    -moz-border-radius-topright: 5px;  
    -moz-border-radius-bottomright: 5px;
 color: #333;
}

.front-mainContent {
  position:relative;
  background: #fff;
  width: 610px;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
    -webkit-border-top-left-radius: 5px;  
    -webkit-border-bottom-left-radius: 5px; 
    -moz-border-radius-topleft: 5px;  
    -moz-border-radius-bottomleft: 5px;
}

.front-mainContent-1row { min-height: 980px; }
.front-mainContent-2row { min-height: 1138px; }
.front-mainContent-3row { min-height: 1244px; }
.front-mainContent-4row { min-height: 1400px; }

.front-subContent {
  position: absolute;
  top: 0; right: 0;
  width: 280px;
  padding: 20px;
}
.front-subContent span{
  display: block;
}

.front-subContent .info{
  overflow:hidden;
  padding:0 0 5px ;
  border-bottom:dotted 1px #D6DEE5;
  display:block;
  text-align:left;
  width:auto; /*他クラス打ち消し*/

}
.front-subContent .info:last-child{
  border:none;
}
.front-subContent .info span{
  display:inline-block;
  vertical-align:middle;
}
.front-subContent .info .views{
  font:normal normal bold 24px/normal Arial;
}
.front-subContent .info span:first-child:after{
  content:":";
  font-weight:normal;
  color:#BABABA;
  margin:5px;
}

.front-subContent p {
  color: #666666;
}
.front-subContent h2 img {
 float: left;
 margin-right: 15px;
}
.front-subContent li {
 width:87px;
 margin-bottom:5px;
 text-align:center;
 display: inline-block;
 vertical-align:top;
}
.front-subContent-2column li {
 width:138px;
 margin-bottom:5px;
 text-align:left;
 display: inline-block;
 vertical-align:top;
 font-size: 15px;
}


.front-content h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 42px;
  }
  
.front-subContent h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;
  min-height: 50px;
  padding-bottom: 10px;
  overflow: hidden;
  }
.front-subContent h3{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7;
  margin: 30px 0 10px 0;
  border-bottom: 1px solid #d6dee5;
  width: 100%;
  display: block;
  }

.front-centered { text-align:center; }
.front-centered img {border: 3px solid #DDE6EE; }


textarea.template { /* TODO scriptに移行 */
	display: none !important;
}


/* side menu */
div.side-menu {
	position: relative;
	width: 174px; /* TODO 親要素で指定。173pxにしたい */
	margin: 10px 0;
	background-color: #fff;
	border: 1px solid #d6dee5;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

div.side-menu h2 {
	margin: 2px 2px 0;
	padding: 0 5px;
	line-height: 2;
	background-color: #eef0f3;
	border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
}

div.side-menu h2 a {
	color: #333;
}

div.side-menu div.count {
	position: absolute;
	top: 2px;
	right: 7px;
	line-height: 2;
	color: #555;
}

div.side-menu ul.users {
	padding: 2px 0 5px 3px; /* TODO 173pxにしたら2px 0 0 2pxに */
}

div.side-menu ul.users li {
	display: inline;
}

div.side-menu ul.users li a {
	display: inline-block;
	overflow: hidden;
	height: 30px;
	margin: 3px 0 0 3px;
}

div.side-menu p.more {
	margin: 0 5px 5px;
	font-size: 11px;
	text-align: right;
	line-height: 1;
}

div.side-menu p.followers {
	margin: 0 5px 5px;
	font-size: 12px;
	text-align: right;
	line-height: 1;
}

div.side-menu p.followers span.count {
	margin-left: 5px;
	padding: 0 2px;
	color: #555;
	background-color: #eef0f3;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

div.side-menu section + section {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #eee;
}

div.side-menu#user-recommend-container h2 {
	background-color: #e4f0ff;
}

div.side-menu#user-recommend-container h2 a {
	color: #444;
}


/* common */
.ui-anchor {
	color: #258fb8;
	cursor: pointer;
}

.ui-anchor:hover {
	text-decoration: underline;
}

div#ui-tooltip-container {
	display: none;
	position: absolute;
	z-index: 10000;
	max-width: 200px;
}

div#ui-tooltip-container p {
	position: relative;
	padding: 3px 10px;
	font-size: 10px;
	line-height: 14px;
	color: #fff;
	background-color: #333;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

div#ui-tooltip-container p:before {
	display: block;
	position: absolute;
	bottom: -4px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -4px;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 0;
	border-left-width: 4px;
	border-color: #333 transparent;
	border-style: solid;
	content: '';
}

.ui-button {
	display: inline-block;
	padding: 0 10px;
	text-shadow: #fcfcf8 0 1px 2px;
	text-decoration: none;
	vertical-align: middle;
	font-size: 12px;
	line-height: 22px;
	color: #258fb8;
	text-align: center;
	background-color: rgb(241, 241, 223);
	background-image: linear-gradient(top, #fefefc, #e5e5c3);
	background-image: -moz-linear-gradient(top, #fefefc, #e5e5c3);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefc), color-stop(1, #e5e5c3));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#fefefc", EndColorStr="#e5e5c3");
	border: 1px solid #cfe0e9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}

.ui-button:hover {
	text-decoration: none;
	background-color: rgb(241, 241, 223);
	background-image: linear-gradient(top, #fcfcf8, #c6c674);
	background-image: -moz-linear-gradient(top, #fcfcf8, #c6c674);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcf8), color-stop(1, #c6c674));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#fcfcf8", EndColorStr="#c6c674");
}

.ui-button-light {
	display: inline-block;
	padding: 0 10px;
	line-height: 22px;
	color: #258fb8;
	border: 2px solid #eee;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}

.ui-button-light:hover {
	text-decoration: none;
	border-color: #ddd;
}

.ui-close-button-light,
.ui-close-button {
	position: absolute;
	z-index: 1000;
	top: 3px;
	right: 3px;
	width: 14px;
	height: 14px;
	background: #becad7 url(http://source.pixiv.net/source/images/common/icon_remove.png?2) no-repeat 0 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
}

.ui-close-button-light {
	background-color: transparent;
	background-position: 0 -14px;
}

.loading-small {
	background: url('http://source.pixiv.net/source/images/common/loading_16.gif') no-repeat 50% 50% !important;
}

.loading-large {
	background: url('http://source.pixiv.net/source/images/common/loading_32.gif') no-repeat 50% 50% !important;
}

.loading-chobi {
	background: url('http://source.pixiv.net/source/images/choby.gif') no-repeat 50% 50% !important;
}

.ui-modal-container {
	display: none; /* JavaScript */
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
}

.ui-modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-modal {
	position: relative;
	padding: 50px 0;
}

.ui-modal.large {
	width: 1000px;
	margin: 0 auto;
}

.ui-modal div.close {
	position: absolute;
	top: 40px;
	right: -10px;
	width: 30px;
	height: 30px;
	background: #000 url('http://source.pixiv.net/source/images/common/icon_modal_close.png') no-repeat 50% 50%;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	cursor: pointer;
}

.ui-modal div.content {
	overflow: auto;
	padding: 20px;
	background: #fff;
	border: 20px solid #69afca;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

div#embed-sample p.html5-h1 {
	margin: 0 0 1em;
	font-size: 20px;
	font-weight: bold;
}

div#embed-sample p.html5-h2 {
	margin: 2em -20px 0.5em;
	padding: 1em 20px 0;
	font-size: 14px;
	font-weight: bold;
	border-top: 2px solid #eee;
}

div#embed-sample p.html5-h1 + p.html5-h2 {
	margin-top: 0;
	padding-top: none;
	border-top: none;
}

div#embed-sample p {
	margin: 0.5em 0;
	font-size: 12px;
}

div#embed-sample p input {
	width: 908px;
}

div.two_column_body section.action {
	position: relative;
	height: 21px;
	margin: 10px 20px;
}

div.two_column_body section.action div.bookmark {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 20px;
}

div.two_column_body section.action div.bookmark a.ui-button {
	margin-top: -4px;
}

div.two_column_body ul.share-button {
/*	margin: 10px 0 20px;*/
}

ul.share-button {
	height: 20px;
}

ul.share-button li {
	float: left;
}

ul.share-button li.twitter,
ul.share-button li.twitter iframe {
	width: 55px;
	height: 20px;
}

ul.share-button li.twitter.has-count,
ul.share-button li.twitter.has-count iframe {
	width: 110px;
}

ul.share-button li.twitter {
	margin-right: 10px;
}

ul.share-button li.twitter.has-count {
	margin-right: 0;
}

ul.share-button li.google {
	width: 90px;
	height: 20px;
}

ul.share-button li.facebook,
ul.share-button li.facebook iframe {
	width: 110px;
	height: 21px; /* Facebook + IE */
}

ul.share-button li.ui-share-button {
	padding: 0 5px;
	color: #aaa;
	line-height: 20px;
	vertical-align: middle;
	border-left: 1px solid #eee;
	cursor: pointer;
}

ul.share-button li.ui-share-button:hover {
	text-decoration: underline;
}


ul.social-button li {
	float: left;
	margin-left: 10px;
	vertical-align: middle;
	line-height: 1;
}

ul.social-button li a {
	line-height: normal;
}

ul.social-button li.twitter a.twitter-share-button {
	display: inline-block;
	width: 55px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url('http://platform0.twitter.com/widgets/images/tweet.png') no-repeat;
}

ul.social-button li.twitter a.twitter-share-button:hover {
	background-position: 0 -21px;
}

ul.social-button li.mixi-check img {
	padding: 1px 0;
}

ul.social-button li.facebook-like iframe {
	overflow: hidden;
	width: 150px;
	height: 21px;
	border: none;
}


div.share-container {
	position: absolute;
	width: 250px;
	padding: 10px;
	background-color: #a2b5c8;
/*	border: 10px solid #a2b5c8;*/
	border-radius: 10px;
}

div.share-container .ui-close-button-light {
	top: 13px;
	right: 13px;
}

div.share-container:before {
	display: block;
	position: absolute;
	top: -10px;
	left: 125px;
	width: 0;
	height: 0;
	border-top-width: 0;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-color: #a2b5c8 transparent;
	border-style: solid;
	content: '';
}

div.share-container.has_button:after {
	display: block;
	position: absolute;
	top: 2px;
	left: 125px;
	width: 0;
	height: 0;
	border-top-width: 0;
	border-right-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-color: #fff transparent;
	border-style: solid;
	content: '';
}

div.share-container div.html5-section.buttons {
	overflow: hidden;
	height: 20px;
	padding: 15px 0;
	background-color: #fff;
	text-align: center;
}

div.share-container div.html5-section.buttons div {
	display: inline-block;
	margin: 0 5px;
	vertical-align: top;
}

div.share-container div.html5-section.buttons div.stacc {
	background: none;
}

div.share-container div.html5-section.buttons div.mixi-favorite iframe {
	overflow: hidden;
	width: 58px;
	height: 20px;
	border: none;
}

div.share-container section.permalink,
div.share-container section.embed {
	padding: 0 5px 5px;
	color: #fff;
}

div.share-container section + section {
	padding-top: 10px !important;
}

div.share-container section h1 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

div.share-container section input {
	border: none;
	font: normal normal normal 12px/normal Helvetica;
	width: 234px;
	margin: 3px 0 0 0;
	padding: 5px 3px;
	color: #555;
}

div.share-container section textarea {
	overflow: auto;
	width: 234px;
	height: 50px;
	margin: 3px 0;
	padding: 5px 3px;
	color: #555;
	border: none;
}

div.share-container section select {
	border: none;
	padding: 2px;
	margin: 5px 0 0 0;
	color: #333;
}

div.share-container section select + span a {
	float: right;
	color: white;
	margin: 7px 0 0 0;
}

/*div.share-container section.stacc p,
div.share-container section.embed p {
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	border: none;
}
*/

/* pixiv-* */
select.pixiv-selector {
	display: none;
}


/* AutoPagerize */
hr.autopagerize_page_separator {
	clear: both;
	padding-top: 50px;
	margin-bottom: 50px;
	border: none;
	border-bottom: 3px dashed #eee;
}

p.autopagerize_page_info {
	display: none;
}


section.column header div.page-alert {
	margin: 1px;
	padding: 10px;
	text-align: center;
	border-radius: 1px;
	-moz-border-radius: 1px;
}

section.column div.page-alert#save-energy {
	color: #fff;
	background-color: #888;
}


ul.count-list li {
	display: inline;
	margin: 0 0 0 0;
	width: inherit;
	padding: 0 0;
	float: none;
	border: none;
}

ul.count-list li a:hover {
	text-decoration: none;
}

a.bookmark-count,
a.image-response-count,
a.quotation-count {
	display: inline-block;
	margin: 0 1px;
	padding: 0 6px 0 6px;
	font-size: 11px;
	font-weight: bold;
	line-height: 17px;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
a.bookmark-count span,
a.image-response-count span,
a.quotation-count span{
	display:inline-block;
	width:12px;
	height:12px;
}

a.bookmark-count       {
	color: #0069b1 !important;
	background: #cceeff;
}
a.bookmark-count span {
	background: #cceeff url(http://source.pixiv.net/source/images/sprite-2nd.png?20110706) no-repeat -600px -237px;
}
a.image-response-count {
	color: #ff0000 !important;
	background: #fad7de;
}
a.image-response-count span {
	background: #fad7de url(http://source.pixiv.net/source/images/sprite-2nd.png?20110706) no-repeat -620px -236px;
}
a.quotation-count      {
	color: #438600 !important;
	background: #DEFFC6;
}
a.quotation-count span {
	background: #DEFFC6 url(http://source.pixiv.net/source/images/sprite-2nd.png?20110706) no-repeat -640px -237px;
}

section.column {
	position: relative;
	float: none; /* TODO style.cssで.columnが宣言されている分の打ち消し */
	width: auto;
	margin: 0 0 10px;
	background-color: #fff;
	border: 1px solid #d6dee5;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

section.column header {
	margin: 0 0 30px;
}

section.column header h1 {
/*	margin: 12px 0 0;*/
	padding: 0 20px;
	font-size: 18px;
	line-height: 38px;
	font-weight: bold;
	border-bottom: 1px solid #d6dee5;
}

section.column header div.sub-header h2 {
	margin: 5px 20px 0;
	font-size: 18px;
	line-height: 38px;
	font-weight: bold;
}

section.column header span.r-18 {
	margin-left: 5px;
	padding: 0 3px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	vertical-align: 2px;
	color: tomato;
	border: 1px solid tomato;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

section.column header a.pixpedia {
	display: inline-block;
/*	position: absolute;*/
/*	width: 16px;*/
/*	height: 16px;*/
	margin-left: 8px;
	padding-left: 19px;
/*	vertical-align: middle;*/
	font-size: 11px;
	font-weight: normal;
	background: url(http://source.pixiv.net/source/images/sprite_20101101.png) no-repeat -1700px -159px;
/*	opacity: 0.9;*/
}


form.search-small {
	padding: 0 0 0 3px;
	border: 1px solid #becad7;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

div.side-menu form.search-small {
	width: 158px;
	margin: 6px auto;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

div.side-menu form.search-small input[type="text"] {
	width: 132px; /* 160 - 22 - 3 - 1 */
}

form.search-small {
	position: absolute;
	top: 9px;
	right: 10px;
	padding: 0 0 0 3px;
	border: 1px solid #becad7;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

form.search-small div.placeholder {
	display: none;
	position: absolute;
	overflow: hidden;
	top: 5px;
	left: 4px;
	width: 131px;
	height: 12px;
	line-height: 1;
	font-family: sans-serif;
	font-size: 12px;
	color: #cbc8db;
	background-color: #fff; /* IE8 */
	cursor: text;
}

form.search-small input[type="text"] {
	width: 131px; /* 172 - 22 - 3 - 1 - 18 */
	height: 18px;
	margin-right: 3px;
	padding: 0;
	font-size: 12px;
	line-height: 1;
	border: none;
}

form.search-small input:focus {
	background-color: #fff;
	outline: none;
}

form.search-small input[type="submit"] {
	width: 23px;
	height: 22px;
	text-indent: -9999px;
	background: #becad7 url(http://source.pixiv.net/source/images/common/search_button.png) no-repeat 50% 50%;
	padding: 0;
	border: none;
}

form.search-small.search-user {
	padding-left: 21px;
	background: url(http://source.pixiv.net/source/images/common/icon_user.png) no-repeat 3px 50%;
}

/*form.search-small input[type="submit"]:hover {
	background-color: #b8c4d1;
}
*/
section.column nav#tab {
	position: relative;
	margin: 0 0 1px;
}

section.column nav#tab ul {
	position: absolute;
	bottom: 0;
}

section.column nav#tab ul.sub {
	right: 10px;
}

section.column nav#tab li {
	float: left;
}

section.column nav#tab li.current {
	padding: 2px 14px 0;
	font-weight: bold;
	line-height: 28px;
	background-color: #fff;
	border: 1px solid #d6dee5;
	border-bottom: none;
}

section.column nav#tab li a {
	display: inline-block;
	padding: 3px 15px 0;
	line-height: 28px;
}

section.column nav#tab li.search-user {
	margin: 0 -10px 0 5px;
}

section.column header span.count {
	margin-left: 5px;
	padding: 0 5px;
	font-size: 10px;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	background-color: #777;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

section.column nav#tab ul.sub li.icon-yahoo {
	background: url('http://test2.pixiv.net/source/images/search/icon_external_search.png') no-repeat 5px 0;
}

section.column nav#tab ul.sub li.icon-amazon {
	background: url('http://test2.pixiv.net/source/images/search/icon_external_search.png') no-repeat 5px -32px;
}

section.column nav#tab ul.sub li.icon-yahoo a,
section.column nav#tab ul.sub li.icon-amazon a {
	padding-left: 24px; /* 5 + 16 + 3 */
}

section.column nav#tab ul.sub li.current.icon-yahoo,
section.column nav#tab ul.sub li.current.icon-amazon {
	padding-left: 29px; /* 20 + 16 + 3 */
	background-position: 10px 0;
}

section.column div.ad-overture {
	margin: 0 20px -15px;
}

section.column nav.pager + div.ad-overture {
	margin: -15px 20px;
}

section.column div.related-tag {
/*	margin: 15px 20px;*/
	margin: 0 20px;
	line-height: 1 !important;
	text-align: center;
	line-height: normal;
	color: #555;
}

section.column div.related-page,
section.column div.hotspot,
section.one_column div.hotspot {
	padding: 11px 20px;
	line-height: 1;
	color: #555;
	border-top: 1px dashed #d6dee5;
}

section.column div.related-page {
	margin-top: 25px;
}

section.column div.hotspot {
	height: 19px;
}

section.one_column div.hotspot {
	height: 19px;
	border-left: 1px solid #d6dee5;
	border-right: 1px solid #d6dee5;
	background-color: #ffffff;
	padding-top: 18px;
	margin-bottom: -10px;
}

section.column div.hotspot div,
section.one_column div.hotspot div {
float: left;
overflow: hidden;
zoom: 1;
word-wrap: normal;
margin-top: 3px;
margin-bottom: -3px;
}

section.column div.hotspot ul,
section.one_column div.hotspot ul {
margin-top: -5px;
padding-left: 8px;
}

section.column div.hotspot li,
section.one_column div.hotspot li {
position: relative;
display: inline;
margin-bottom: 5px;
margin-right: 5px;
text-align: center;
vertical-align: top;
line-height: 22px;
}

section.column div.related-tag ul,
section.column div.related-page ul {
	display: inline;
	margin-left: 10px;
}

ul.text-list li,
section.column div.related-tag ul li,
section.column div.related-page ul li {
	display: inline;
	margin: 0 5px 0 0;
}

ul.text-list li + li:before,
section.column div.related-tag ul li + li:before,
section.column div.related-page ul li + li:before,
section.column div.hotspot ul li + li:before,
section.one_column div.hotspot ul li + li:before {
	content: '/';
	margin-right: 5px;
	color: #ddd;
}

section.column div.hotspot:after,
section.one_column div.hotspot:after {
	content: 'PR';
	float: right;
	font-size: 10px;
	color: #A0A0A0;
	margin-top: 7px;
	margin-right: -5px;
	display: block;
}

section.column div.more {
	clear: both;
	width: 868px;
	margin: 0 auto 15px;
	padding-top: 15px;
	background-color: #fff;
}

section.column div.more p {
	padding: 10px 0;
	text-align: center;
	color: #258fb8;
	border: 3px solid #eee;
	border-radius: 7px;
	-moz-border-radius: 7px;
	cursor: pointer;
}

nav.header-menu {
	position: relative;
	padding: 10px;
	background-color: #f2f4f6;
}

nav.header-menu div.sub {
	position: absolute;
	top: 10px;
	right: 10px;
}

nav.header-menu ul {
	display: inline;
	padding: 3px 0;
}

nav.header-menu ul li {
	display: inline;
}

nav.header-menu ul li a {
	display: inline;
	padding: 0 10px;
}

nav.header-menu ul li a span.current {
	font-weight: bold;
	color: #333;
}

nav.header-menu ul li.current {
	padding: 0 10px;
	font-weight: bold;
}

nav.header-menu ul li.current a {
	padding: 0;
}

nav.header-menu ul + ul {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}

nav.header-menu ul.root + ul {
	border-left: 3px double #ccc;
}

section.column footer {
	clear: both;
	padding-top: 15px;
}

#search-user-page footer {
	padding-top: 30px;
}

section.column footer ul.social-button {
	padding: 7px 10px;
	border-top: 1px dashed #d6dee5;
}

section.column footer ul.social-button + * {
	clear: both;
}

nav.pager {
	clear: both;
	margin: 15px 0;
	text-align: center;
}

nav.pager li {
	display: inline;
}

nav.pager li a {
	padding: 6px 10px;
	line-height: 1;
}

nav.pager li.current {
	padding: 0 10px;
	font-weight: bold;
}

nav.pager li + li {
	border-left: 1px solid #ddd;
}

nav.pager li.prev + li,
nav.pager li.next {
	border-left: none;
}

nav.pager li.prev,
nav.pager li.next {
	padding: 0 10px;
}

nav.pager li.prev a,
nav.pager li.next a {
	padding: 0 15px;
	line-height: 22px;
	vertical-align: baseline;
}

section#search-option {
	margin: -9px -20px 0;
	background-color: #f2f4f6;
}


/* ad */
div.ad-overture {
	position: relative;
	clear: both;
	height: 100px;
}

div.ad-overture + * {
	clear: both;
}

div.ad-overture div {
	float: left;
	width: 50%;
}

div.ad-overture div a {
	display: block;
	width: 100%;
	height: 70px;
	padding: 15px 0;
}

/*section.column div.ad-overture div a {
	height: 70px;
	padding: 15px 0;
}
*/
div.ad-overture div a:hover {
	text-decoration: none;
}

div.ad-overture div p.title {
	line-height: normal;
}

div.ad-overture div p.title {
	font-size: 14px;
	font-weight: bold;
	color: #258fb8;
	text-decoration: underline;
}

div.ad-overture div p.description {
	color: #555;
}

div.ad-overture div p.host {
	color: #008000;
	font-size: 10px;
}

div.ad-overture p.info {
	position: absolute;
	right: 0;
	bottom: 10px;
	clear: both;
	width: auto;
	margin: 0;
	color: #aaa;
	font-size: 10px;
}

div.ad-overture p.info a {
	color: #aaa;
}


section#search-detail {
	position: relative;
	margin: 1px -20px 10px;
	padding: 10px 20px;
	background-color: #f2f4f6;
}

section#search-detail h1 {
	margin: 0 0 15px;
	font-weight: bold;
}

section#search-detail dt {
	clear: both;
	float: left;
	width: 90px;
	line-height: 24px;
	text-align: right;
}

section#search-detail dd {
	margin: 0 0 10px 100px;
}

section#search-detail input {
	vertical-align: baseline;
}

section#search-detail input[type="checkbox"] {
	margin: 0 5px 0 15px;
}

section#search-detail > p {
	margin-left: 100px;
}


p.notes {
	margin: 0.5em 0;
	color: #aaa;
	font-size: 11px;
}

div.close-button {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
	height: 16px;
	background: url(http://source.pixiv.net/source/images/sprite.png) -1701px -204px;
	cursor: pointer;
	opacity: 0.8;
}

div.close-button:hover {
	opacity: 1;
}


section.image-list {
	margin: 15px 0;
	padding: 0 0 0 24px;
}

section.image-list + * {
	clear: both;
}

section.image-list ul.images li.image {
	float: left;
	overflow: auto;
	width: 164px; /* (968 - 14 * 2) / 5 - 10 * 2 */
	height: 250px;
	margin: 0 10px;
	text-align: center;
}

section.image-list ul.images li.image p img {
	padding: 2px;
	vertical-align: middle;
	border: 1px solid #ddd;
}

section.image-list ul.images li.image h1 {
/*	margin: 2px 0 0;*/
	font-weight: bold;
	line-height: normal;
	color: #555;
}

section.image-list ul.images li.image a {
	color: #555;
}

section.image-list ul.images li.image a:visited,
section.image-list ul.images li.image a:visited h1 {
	color: #999;
}

section.image-list ul.images li.image a:hover img {
	border-color: #258fb8;
}

section.image-list ul.images li.image a:hover h1 {
	text-decoration: underline;
}

section.image-list ul.images li.image p {
	margin: 0;
	font-size: 11px;
	line-height: normal;
}

section.image-list ul.images li.image p a {
	color: #555;
}

section.image-list ul.images li.image li {
	display: inline;
}

section.image-list div.no-item,
section.user-list div.no-item,
section.novel-list div.no-item {
	clear: both;
	width: 868px;
	margin: 0 auto;
	text-align: center;
	line-height: 240px;
	background-color: #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
}


/* novel-list */
section.novel-list {
	padding: 0 24px;
/*	padding: 0 14px;*/
	color: #555;
}

section.novel-list li.novel {
	position: relative;
	overflow-y: auto;
	float: left;
/*	width: 290px;*/
	width: 210px;
	height: 290px;
	margin: 0 10px 10px;
	text-align: center;
	background: none;
}

section.novel-list li.novel div.cover {
	position: relative;
	overflow: hidden;
	width: 163px;
	margin: 0 auto 10px;
	padding: 0 0 10px;
	border: 1px solid #ddd;
}

section.novel-list li.novel div.cover:hover {
	border-color: #258fb8;
}

section.novel-list li.novel div.cover a {
	color: #555;
}

section.novel-list li.novel div.cover > a {
	padding: 10px 0 0;
	display: block;
}

section.novel-list li.novel div.series a {
	display: block;
	position: absolute;
	top: 16px;
	right: -26px;
	width: 100px;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	background-color: #258fb8;
	border: 1px solid #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

section.novel-list li.novel div.series a:hover {
	text-decoration: none;
}

section.novel-list li.novel p img {
	vertical-align: middle;
}

section.novel-list li.novel h1 {
/*	margin: 2px 0;*/
	padding: 0 5px;
	font-weight: bold;
	line-height: normal;
	color: #666;
}

section.novel-list li.novel a:hover h1 {
	text-decoration: underline;
}

section.novel-list li.novel p.user {
	font-size: 11px;
	line-height: normal;
}

section.novel-list li.novel p.user a {
	color: #888;
}

section.novel-list li.novel ul.text-list {
	font-size: 11px;
}


/* user-list */
/*div#user-recommend-page div.more {
	position: relative;
	top: -19px;
	margin-bottom: -4px;
}
*/
section.user-list {
/*	min-height: 160px;*/
	margin: 0 45px;
	color: #555;
	background-image: url(http://source.pixiv.net/source/images/user_list_bg.png);
}

section.user-list.loading-chobi {
	min-height: 149px;
}

section.user-list:after {
	display: block;
	clear: both;
	content: '';
}

section.user-list ul.users {
	margin: 0 -5px 0 5px;
}

section.user-list li.user {
	float: left;
	width: 439px;
	height: 65px;
	padding-top: 19px;
}

section.user-list li.user:nth-child(1),
section.user-list li.user:nth-child(2) {
	padding: 0;
}

section.user-list li.user div.container {
	position: relative;
	margin-right: 10px;
}

section.user-list li.user div.hide {
	display: none; /* JavaScript */
	position: absolute;
	visibility: visible;
	top: 3px;
	right: 3px;
	width: 14px;
	height: 14px;
	background: #becad7 url(http://source.pixiv.net/source/images/common/icon_remove.png) no-repeat 0 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
}

section.user-list li.user div.container:hover div.hide {
	display: block;
}

section.user-list li.user a {
	display: block;
	width: 409px;
	height: 55px;
	padding: 5px 15px 5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

section.user-list li.user a:hover {
	text-decoration: none;
	background-color: #e2f4f8;
}

section.user-list li.user div.container:hover a {
	padding: 4px 14px 4px 4px;
	border: 1px solid #e2f4f8;
}

section.user-list li.user h1 {
	font-size: 13px;
	font-weight: bold;
}

section.user-list li.user a:hover h1 {
	text-decoration: underline;
}

section.user-list li.user p {
	color: #555;
}

section.user-list li.user div.user-icon {
	position: absolute;
	left: 5px; /* IE 6 */
	width: 50px;
	text-align: center;
}

section.user-list li.user div.user-icon img {
	border-radius: 3px;
	-moz-border-radius: 3px;
}

section.user-list li.user div.user-data {
	margin-left: 60px;
}

form.search2 {
	position: relative;
	z-index: 1000;
	width: 224px;
	margin: 0 auto;
	color: #555;
}

#pageHeader form.search2 {
	position: absolute;
	right: 0;
	bottom: 48px;
}

section.column form.search2 {
	position: absolute;
	right: 10px;
	top: 5px;
}

form.search2 div.container {
	width: 185px;
	height: 20px;
	padding: 3px 5px;
	background-color: #fff;
	border: 1px solid #becad7;
	border-right: none;
}

form.search2 div.placeholder {
	display: none;
	position: absolute;
	overflow: hidden;
	top: 4px;
	left: 6px;
	width: 185px;
	height: 20px;
	line-height: 20px;
	font-family: sans-serif;
	font-size: 14px;
	color: #cbc8db;
	background-color: #fff;
	cursor: text;
}

form.search2 div.container input {
	width: 100%;
	padding: 0;
	height: 20px;
	font-size: 14px;
	line-height: 1;
	border: none;
}

form.search2 input:focus {
	outline: none;
	background-color: #fff;
}

form.search2 input.submit {
	position: absolute;
	top: 0;
	right: 0;
	width: 28px;
	height: 28px;
	text-indent: -9999px;
	background: #becad7 url(http://source.pixiv.net/source/images/common/search_button.png) no-repeat 50% 50%;
	border: none;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	cursor: pointer;
}

/*form.search2 input[type="submit"]:hover {
	background-color: #b8c4d1;
}
*/
form.search2 ul#suggest-list {
	display: none;
	position: absolute;
	width: 195px;
	background-color: #fff;
	border: 1px solid #becad7;
	border-top: none;
}

form.search2 ul#suggest-list li {
	padding: 0 6px;
	font-size: 14px;
	line-height: 2;
	color: #777;
	cursor: pointer;
}

form.search2 ul#suggest-list li.current,
form.search2 ul#suggest-list li:hover {
	background-color: #eee;
}



/* modal.css */
#modal-content {
display:none;
z-index: 10;
position: absolute;
background-color:#fff;
color:#000;
padding-bottom:4px;
width:300px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius:6px;
-webkit-border-bottom-left-radius:6px;
-webkit-border-bottom-right-radius:6px;
border-radius:6px;
border:1px solid #dfebf1;
}

#modal-data {
font-size:14px;
padding:0 10px;
}

#modal-data p{
margin:10px 0 10px 0;
}

#modal-data ul {
padding:10px 0 10px 0;
margin: 0 0 10px 0;
}

#modal-data li {
float:left;
height: 280px;
width: 280px;
text-align:center;
vertical-align:middle;
}

#modal-data table,
#modal-data table tr {
text-align:center;
margin:0;
}

#modal-data table tr td {
width:280px;
height:280px;
vetrical-align:middle
margin:0;
}

#modal-data table tr td div{
width:280px;
}

#modal-data img {
margin:0;
padding:0;
left:10px;
max-width: 280px;
max-height: 280px;
zoom:1;
}

#modal-data input {
margin:0;
padding:0;
cursor:pointer;
}

#intro_stacc {
width:270px;
}

.simplemodal-close {
position:absolute;
top:2px;
right:5px;
font-size:12px;
line-height:22px;
color:#258FB8;
text-decoration:none;
padding:5px;
cursor:pointer;
}

#simplemodal-posted {
font-size:12px;
}

.chars_left {
float:right;
color:#999999;
margin:10px 0 0 0;
white-space: nowrap;
}

