html { overflow-y: scroll; }
 
body,div,p,ul,ol,li,dl,dt,dd,form,fieldset,legend,input,textarea,pre,code,blockquote {
	font-family: "メイリオ","Meiryo",Sans-Serif/*,verdana,Osaka,"ＭＳ Ｐゴシック","MS PGothic"*/; /*"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",*/
	margin: 0;
	padding: 0; }
 
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0; }
pre {
    word-wrap: break-word;
    white-space: pre-wrap; }
div {
    word-wrap: break-word; }
    
br { letter-spacing: 0; }
 
a img, img { border: 0; }
 
ul {
	margin: 0;
	padding: 0; }
 
li {
	list-style-type: none;
	margin: 0;
	padding: 0; }
 
	li img {
		margin: 0;
		padding: 0;
		vertical-align: top; }
 
p { line-height: 18px; }
 
table {
	border-collapse: collapse;
	border-spacing: 0; }
 
caption,th { text-align: left; }
 
td {  }
 
fieldset,img { border: 0; }
 
address, th, var {
	font-style: normal;
	font-weight: normal; }
 
hr {
	border: 0;
	height: 1px;
	margin: 0;
	padding: 0; }
  
/* selection: safari, mozilla */
 	::selection { background:#e8f0f6; }
	::-moz-selection { background:#e8f0f6; } 
/* selection { background:#7ba5d2; opacity:0.25; color: #ffffff; } */

/* from element  */
label { cursor: pointer; }
legend { display: none; }

input, select, textarea { border: 1px #becad7 solid; }

select { padding: 2px 0 2px 0px; }
option {}

input,
button,
textarea,
button{
	color: #333333;
	font-size: 12px;
	padding: 3px 5px;
  vertical-align: middle; }

input[type="text"] {
	font-family: sans-serif;
}

input:focus, select:focus ,textarea:focus { background: #ffffcc; }

input[type="submit"],button[type="submit"]  { cursor: pointer; }
 
input[type="checkbox"], 
input[type="radio"] {
	background: none;
	border: none; }
 
/* for IE8 */
.msie8 input[type="checkbox"],
.msie8 input[type="radio"] {
	margin: 0px;
	padding: 0px;
	vertical-align: -0.2em; }
 
/* for Chrome1 */
.chrome1 input[type="checkbox"],  
.chrome1 input[type="radio"] {
	margin: 0px;
	padding: 0px;
	vertical-align: -0.2em; }
 
.clear {
	background: none;
	clear: both; }
 
.center {
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	text-align: center; }
 
.clear {
	background: none;
	clear: both; }
 
.floleft { float: left; }
.floright { float: right; }

/* -----------------------------------------------------------
	#Link
----------------------------------------------------------- */
/*-------------------------------------------------
Other
-------------------------------------------------*/
.clearfix:after {
	clear: both;
	content: "."; /* 新しい要素を作る */
	display: block; /* ブロックレベル要素に */
	height: 0;
	visibility: hidden; }
 
.clearfix { min-height: 1px; }
 
* html .clearfix { height: 1px; /*\*/ /*/
  height: auto;
  overflow: hidden;
  /**/ }

/* tooltip */
  a.tooltip {
    background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1700px -204px; 
    display:block;
    float:right;
    position: relative;
    top:-5px;right:5px;
    height: 16px;
    width: 20px;
    line-height: 1.8; }
         
     a.tooltip span {
         display: block;
         visibility: hidden; }
        
        a.tooltip:hover span {
    		visibility: visible;
            position: absolute;
            top:18px;right:4px;
            overflow:auto;
            z-index: 100; 
            background: #ffffff;
    		border: 3px solid #81abc2;
            padding: 5px 10px;
            width:170px;
    		color: #333333; }
            
            a.tooltip:hover { text-decoration: none; }
 
/*-------------------------------------------------
Link
-------------------------------------------------*/
.link_purple a {
	background: #e7e7f7;
	color: #9999cc;
	margin: 0 0 0 1px;
	padding: 0 5px; }
 
.link_green a { color: #00a42e; }
.link_orange a { color: #ff6600; }
.error { color: #ff0000; }
.censored_url { color: #660099; }
 
/* common */
a:link {
	color: #258fb8;
	text-decoration: none; }
 
a:visited {
	color: #258fb8;
	text-decoration: none; }
 
a:hover { text-decoration: underline; }
 
a:active {
	color: #258fb8;
	text-decoration: none; }
  
  a:focus { outline: none; }
 

 
 
/* -----------------------------------------------------------
	#space
----------------------------------------------------------- */
.mag-t5 { margin-top: 5px; }
.mag-t8 { margin-top: 8px; }
.mag-t10 { margin-top: 10px; }
.mag-t15 { margin-top: 15px; }
.mag-t20 { margin-top: 20px; }
.mag-t25 { margin-top: 25px; }
.mag-t30 { margin-top: 30px; }
.mag-t35 { margin-top: 35px; }
.mag-t40 { margin-top: 40px; }
.mag-t45 { margin-top: 45px; }
.mag-t50 { margin-top: 50px; }
.mag-l5 { margin-left: 5px; }
.mag-l10 { margin-left: 10px; }
.mag-l15 { margin-left: 15px; }
.mag-l20 { margin-left: 20px; }
.mag-l25 { margin-left: 25px; }
.mag-l30 { margin-left: 30px; }
.mag-l35 { margin-left: 35px; }
.mag-l40 { margin-left: 40px; }
.mag-l45 { margin-left: 45px; }
.mag-l50 { margin-left: 50px; }
.mag-r5 { margin-right: 5px; }
.mag-r10 { margin-right: 10px; }
.mag-r15 { margin-right: 15px; }
.mag-r20 { margin-right: 20px; }
.mag-r25 { margin-right: 25px; }
.mag-r30 { margin-right: 30px; }
.mag-r35 { margin-right: 35px; }
.mag-r40 { margin-right: 40px; }
.mag-r45 { margin-right: 45px; }
.mag-r50 { margin-right: 50px; }
.mag-b5 { margin-bottom: 5px; }
.mag-b10 { margin-bottom: 10px; }
.mag-b15 { margin-bottom: 15px; }
.mag-b20 { margin-bottom: 20px; }
.mag-b25 { margin-bottom: 25px; }
.mag-b30 { margin-bottom: 30px; }
.mag-b35 { margin-bottom: 35px; }
.mag-b40 { margin-bottom: 40px; }
.mag-b45 { margin-bottom: 45px; }
.mag-b50 { margin-bottom: 50px; }
.pad-t5 { padding-top: 5px; }
.pad-t10 { padding-top: 10px; }
.pad-t15 { padding-top: 15px; }
.pad-t20 { padding-top: 20px; }
.pad-t25 { padding-top: 25px; }
.pad-t30 { padding-top: 30px; }
.pad-t35 { padding-top: 35px; }
.pad-t40 { padding-top: 40px; }
.pad-t45 { padding-top: 45px; }
.pad-t50 { padding-top: 50px; }
.pad-l5 { padding-left: 5px; }
.pad-l10 { padding-left: 10px; }
.pad-l15 { padding-left: 15px; }
.pad-l20 { padding-left: 20px; }
.pad-l25 { padding-left: 25px; }
.pad-l30 { padding-left: 30px; }
.pad-l35 { padding-left: 35px; }
.pad-l40 { padding-left: 40px; }
.pad-l45 { padding-left: 45px; }
.pad-l50 { padding-left: 50px; }
.pad-r5 { padding-right: 5px; }
.pad-r10 { padding-right: 10px; }
.pad-r15 { padding-right: 15px; }
.pad-r20 { padding-right: 20px; }
.pad-r25 { padding-right: 25px; }
.pad-r30 { padding-right: 30px; }
.pad-r35 { padding-right: 35px; }
.pad-r40 { padding-right: 40px; }
.pad-r45 { padding-right: 45px; }
.pad-r50 { padding-right: 50px; }
.pad-b5 { padding-bottom: 5px; }
.pad-b10 { padding-bottom: 10px; }
.pad-b15 { padding-bottom: 15px; }
.pad-b20 { padding-bottom: 20px; }
.pad-b25 { padding-bottom: 25px; }
.pad-b30 { padding-bottom: 30px; }
.pad-b35 { padding-bottom: 35px; }
.pad-b40 { padding-bottom: 40px; }
.pad-b45 { padding-bottom: 45px; }
.pad-b50 { padding-bottom: 50px; }
.pad20 { padding: 20px; }
.pad15 { padding: 15px; }
.pdg8 { padding: 8px; }
.l16 { line-height: 16px; }
.f10 { font-size: 10px; font-weight: normal; }
.f10b { font-size: 10px; font-weight: bold; }
.f12 {	font-size: 12px;	font-weight: normal; }
.f12b {	font-size: 12px;	font-weight: bold; }
.f12rb {	color: #FF0000;	font-size: 12px;	font-weight: bold; }
.f14 { font-size: 14px; }
.f14n {	font-size: 14px;	font-weight: normal; }
.f14b {	font-size: 14px;	font-weight: bold; }
.f16 { font-size: 16px; }
.f16b {	font-size: 16px;	font-weight: bold; }
.f18 { font-size: 18px; }
.f18b {	font-size: 18px;	font-weight: bold; }
.f22b {	font-size: 22px;	font-weight: bold; }
.f24b {	font-size: 24px;	font-weight: bold; }
.color_red { color: #fd0202; }
.color_red_bold {	color: #e60012;	font-weight: bold; }
.fNormal { font-weight: normal; }
.w710 { width:710px;}