body {
	background: #E4E7EE;
	color: #333333;
	font-size: 12px;
	line-height: 1.5;
	word-break: break-all; }

#wrapper {
	margin: 10px auto 0px auto;
	width: 970px; }
 
 
/*-------------------------------------------------
# header
-------------------------------------------------*/
#header {
	background: #ffffff;
	border-bottom: 1px solid #d6dee5;
	padding-bottom: 10px;
	width: 100%; }
 
.header_inner {
	background: #ffffff;
	margin: 0 auto;
	width: 970px; }
 
#header .header_left_area {
	float: left;
	width: 125px; }
 
#header .header_right_area {
	float: right;
	width: 845px; }
 
#header h1 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px 5px;
	display: block;
	height: 55px;
	margin: 7px 0;
	text-indent: -9999pt;
	width: 125px; }
 
#header h1 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px 5px;
	display: block;
	height: 55px;
	margin: 7px 0;
	text-indent: -9999pt;
	width: 125px; }
 
/*-------------------------------------------------
    CONTEST
    -------------------------------------------------*/
#header h1.shorts a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -1000px;
	display: block;
	height: 64px;
	margin: 7px 0;
	text-indent: -9999pt;
	width: 125px; }
 
#header .header_menu {
	float: left;
	font-size: 14px;
	padding: 20px 0 0 15px;
	width: 520px; }
 
	#header .header_menu li strong {
		margin-left: 5px;
		vertical-align: top; }
 
#header .header_otehrs {
	float: right;
	text-align: right;
	width: 310px; }
 
.search { margin: 10px 0 0 0; }
 
.search_area {
	background: #ffffff;
	border: 0;
	color: #000000;
	font-size: 11px;
	padding: 0 0 0 5px;
	width: 157px; }
 
.search_button {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -170px -109px;
	border: 0;
	height: 24px;
	width: 57px; }
 
#header p { padding: 10px 0px 0 0px; }
 
#header ul {
	color: #333333;
	float: left;
	margin: 10px 0px 0 0px;
	text-align: right; }
 
#header .header_menu li {
	display: inline;
	font-weight: bold;
	margin: 0px 0px 0 15px; }
 
	#header .header_menu li a { font-weight: normal; }
 
	#header .header_menu li .black_link {
		color: #000;
		font-weight: bold; }
 
#header .header_otehrs_ul { width: 310px; }
 
	#header .header_otehrs_ul li {
		display: inline;
		margin: 0px 0px 0 25px; }
 
		#header .header_otehrs_ul li .black_link {
			color: #000;
			font-weight: bold; }


input::-webkit-input-placeholder {
	color: #cbc8db;
}
input:-moz-placeholder {
	color: #cbc8db;
}

form.search {
	position: relative;
	width: 225px;
	margin: 0;
}

form.search.head {
	position: absolute;
	top: 40px;
	right: 0;
}

#pageSearchTop form.search {
	margin: 0 auto;
}

form.search .input {
	width: 160px;
	height: 24px;
	padding: 2px;
	background-color: #fff;
	border: 1px solid #becad7;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
}

form.search .input input {
	width: 152px;
	margin: 0;
	padding: 2px 4px;
	padding: 5px 4px 0\9; /* IE8 */
	*padding: 4px 4px 0; /* IE7 */
	font-size: 13px;
	vertical-align: top;
	border: none;
}

form.search .input input:focus {
	background-color: #fff;
}

form.search .placeholder {
	display: none;
	position: absolute;
	overflow: hidden;
	top: 1px;
	left: 1px;
	width: 152px;
	height: 20px;
	margin: 2px;
	padding: 2px 4px;
	font-size: 13px;
	color: #cbc8db;
	background-color: #fff; /* IE8 */
	cursor: text;
}

form.search .menu-button {
	position: absolute;
	top: 0;
	right: 30px;
	width: 28px;
	height: 28px;
	background: #fff url('http://source.pixiv.net/source/images/common/search_pulldown.png') no-repeat 50% 50%; /* TODO sprite? */
	border: 1px solid #becad7;
}

form.search .menu-button:hover {
	background-image: url('http://source.pixiv.net/source/images/common/search_pulldown_on.png'); /* TODO sprite? */
}

form.search ul.menu {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 24px;
	left: -166px;
	width: 193px;
	margin: 0;
	padding: 1px 0 0;
	color: #258fb8;
	background: #fff url('http://source.pixiv.net/source/images/common/search_bg_menu.png') no-repeat 0 0; /* TODO sprite? */
	border: 1px solid #becad7;
	border-top: none;
}

form.search ul.menu li {
	list-style: none;
	margin: 0;
	padding: 0 6px;
	line-height: 2;
	cursor: pointer;
}

form.search ul.menu li.random-pickup {
	text-align: center;
	line-height: 2.5;
	border-top: 1px solid #becad7;
}

form.search ul.menu li.random-pickup a {
	display: block;
	color: inherit;
	text-decoration: none;
}

form.search ul.menu li:hover,
form.search ul.menu li:hover a /* IE7 */ {
	color: #fff;
	background-color: #258fb8;
}

form.search input.submit {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: #258fb8 url('http://source.pixiv.net/source/images/common/search_button.png') no-repeat 50% 50%; /* TODO sprite? */
	border: none;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	cursor: pointer;
}

form.search input.submit:hover,
form.search input.submit:focus {
	background-color: #005373;
}


/* TODO remove */
.pixivSearch {
	background: #ffffff;
	margin: 0 0 0 83px;
	width: 227px; }
 
	.pixivSearch a {
		display: block;
		text-decoration: none; }
 
	.pixivSearch ul {
		list-style: none outside none;
		margin: 0pt;
		padding: 0pt;
		z-index: 999999; }
 
	.pixivSearch li {
		cursor: pointer;
		position: relative;
		text-align: left;
		width: 227px; }
 
		.pixivSearch li ul {
			display: none;
			left: 0pt;
			position: absolute;
			top: 15px;
			z-index: 999999; }
 
		.pixivSearch li > ul {
			position: absolute;
			top: 30px; }
 
		.pixivSearch li:hover ul, .pixivSearch li.over ul { display: block; }
 
	.pixivSearch ul.pixivSearchArea li.firstborn {
		float: right;
		font: 11px Verdana;
		position: relative;
		width: 150px; }
 
	.pixivSearch ul.pixivSearchArea ul.pixivSearchList {
		border-bottom: 1px solid #becad7;
		border-top: 1px solid #becad7;
		margin: 10px 0 0 0; }
 
		.pixivSearch ul.pixivSearchArea ul.pixivSearchList li {
			background-color: #ffffff;
			border-left: 1px solid #becad7;
			border-right: 1px solid #becad7; }
 
			.pixivSearch ul.pixivSearchArea ul.pixivSearchList li input {
				margin-right: 10px;
				vertical-align: middle; }
 
			.pixivSearch ul.pixivSearchArea ul.pixivSearchList li a:hover {  }
 
	.pixivSearch ul.pixivSearchArea li .ListType {
		padding: 5px 10px;
		width: 205px; }
 
	.pixivSearch ul.pixivSearchArea li a {
		display: block;
		font-size: 12px; }
 
	.pixivSearch ul.pixivSearchArea li.ListTypeButton {
		border-top: 1px solid #becad7;
		text-align: center;
		width: 225px; }
 
		.pixivSearch ul.pixivSearchArea li.ListTypeButton a {
			background: #ffffff;
			padding: 5px 35px 5px 15px;
			text-align: center; }
 
			.pixivSearch ul.pixivSearchArea li.ListTypeButton a:link {
				background: #ffffff;
				color: #258fb8;
				text-decoration: none; }
 
			.pixivSearch ul.pixivSearchArea li.ListTypeButton a:visited {
				background: #ffffff;
				color: #258fb8;
				text-decoration: none; }
 
			.pixivSearch ul.pixivSearchArea li.ListTypeButton a:hover {
				background: #f3fcfe;
				color: #258fb8;
				text-decoration: none; }
 
			.pixivSearch ul.pixivSearchArea li.ListTypeButton a:active {
				background: #ffffff;
				color: #258fb8;
				text-decoration: none; }
 
	.pixivSearch ul.pixivSearchArea li.ListTypeBottom { height: 0px; }
 
	.pixivSearch ul.pixivSearchArea ul.pixivSearchList div.searchTypeListFooter { float: right; }
 
	.pixivSearch ul.pixivSearchArea li.first a { background: none repeat scroll 0% 0% transparent; }
 
	.pixivSearch a:link { color: #333333; }
 
/*-------------------------------------------------
.ui-layout-west
-------------------------------------------------*/
.ui-layout-west {
	float: left;
	width: 186px; }
 
.ui-layout-west-nologin {
	float: right;
	width: 186px; }
 
.profile_area {
	background-color:#f2f4f6;
	border:1px solid #d6dee5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
	width: 174px;
	margin:0 0 10px;
	padding:0 0 5px;}
 
	.profile_area h2 {
		font-size: 16px;
		font-weight: bold;
		padding: 0 5px; }
 
	.profile_area img { margin: 3px 0; }
 
.premium {
	padding:3px 0;}
	
.premium a {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat -160px -720px;
	display: block;
	height: 18px;
	margin: 0 auto;
	text-indent: -9999px;
	width: 62px; }
 
 .area_new {
	background-color:#ffffff;
	border:1px solid #d6dee5;
	margin: 0 0 10px 0;
	position: relative;
	width: 174px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	}

.area_title {
	background: #EEF0F3;
	margin: 2px;
	padding: 2px 5px;
	}
	
.area_title #bookmark_toggle_btn a:hover{
	text-decoration: none;
	}

._w{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	width: 185px;
	}
 
.area_inside {
	padding:7px;
 	}

.area_article {
	font-size:14px;
	line-height:1.5em;
	padding:0 1em 1em 1em;
}

.area_article>.date {
	padding:1em 0;
  min-height: 50px;
}

.area_article>p {
	line-height:1.5em;
	padding:0 0 1.0em 0;
}

.areaTitle { padding: 0 0 10px 0; }
 
.area_space { padding: 5px 8px 0 8px; }
 
	.area_space span {  }
 
.area_bookmark {
	padding:0 5px 5px 5px;}
 
	.area_bookmark li {
		margin: 0 1px;
		padding: 2px 0px; }
 
 ul.area_member {
    margin: 10px 0 0 0;
    padding: 0;
    }
    ul.area_member:after {
        display: block;
        clear: both;
        height: 10px;
        overflow: hidden;
        content: ''; }

        	ul.area_member li {
                overflow:hidden;
                width: 30px;
                height: 30px;
                margin: 0 2px 2px 0;
                padding: 0;
                float: left;
                 }
            	ul.area_member img {
            		margin: 0;
                    padding: 0;
                    width: 30px; }
                    
.type_member:after {
        display: block;
        clear: both;
        overflow: hidden;
        content: ''; }

        	.type_member li {
                overflow:hidden;
                width: 30px;
                height: 30px;
                margin: 0 2px 2px 0;
                padding: 0;
                float: left;
                 }
                 
            	.type_member img {
            		margin: 0;
                    padding: 0;
                    width: 30px; }

.type_member.user_event {
	margin: -5px 0px 0px -5px;
	width: 290px;
	}

.type_list li {
	line-height:18px;
	margin:5px 0;
	}

.type_entrylist li {
display:inline-block;
padding:5px;
font-size:14px;
border-bottom:solid 1px #dfebf1;
}

.other_service a {
	line-height:22px;
	margin-right: 10px;
	padding-left: 23px;
	font-weight:bold;
	}

.type_list span {
	background: #ffefba;
	}
	
.type_list_manage {
	background-color:#ffefba;
	color: #999999;
	font-size: 10px;
	left: 45px;
	position: relative;
	top: 0;
	}

div.topEventList { padding: 10px 0; }
 
	div.topEventList ul { padding: 3px 0 0px 0; }
 
	div.topEventList li { line-height: 20px; }
 
	div.topEventList  ul li span { background: #ffefba; }
 
	div.topEventList span span { color: #ffefba; }
 
	div.topEventList .type_list_manage {
		color: #999999;
		font-size: 10px;
		left: 45px;
		position: relative;
		top: 0; }
 
.view_mypixiv {
	padding: 7px 0 0 0;
	text-align: right; }
 
.view_more {
	margin: 5px 0 0 0;
	text-align: right; }
 
.navi_update { padding: 10px 0 0 0; }
 
	.navi_update li { padding: 5px 0 5px 10px; }
 
.navi_update_on { background: #ffffff; }
 
/*-------------------------------------------------
.ui-layout-east
-------------------------------------------------*/
.ui-layout-east {
	float: left;
	width: 784px; }

.ui-layout-east-nologin {
	float: right;
	width: 784px; }
 
.ui-layout-east-top {
	background: #fff;
	border-radius:5px 5px 0px 0px / 5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px / 5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px / 5px 5px 0px 0px;
	border-top: 1px solid #d6dee5;
	border-left: 1px solid #d6dee5;
	border-right: 1px solid #d6dee5;
	height: 10px;
	width: 782px; }
 
.contents-east { 
    width: 784px;
    margin: 0;
    padding: 0; }
 
.ui-layout-east-bottom {
	background: #fff;
	border-radius:5px 5px 0px 0px / 5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px / 5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px / 5px 5px 0px 0px;
	border-bottom: 1px solid #d6dee5;
	border-left: 1px solid #d6dee5;
	border-right: 1px solid #d6dee5;
	height: 10px;
	width: 782px;
    font-size: 1px; }

.pixiv-mobile span{
	display:block;
	text-align:center;
	margin: 0 auto 5px;}

.pixiv-mobile #logo {
	margin:5px auto 0;}
	
.qrcode {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat -520px -680px;
	color: #258fb8;
	height: 105px;
	text-decoration: none;
	text-indent: -9999pt;
	width: 100px;}

/*-------------------------------------------------
.contents-main
-------------------------------------------------*/
.areatitle {
	font-size: 18px;
	font-weight: bold; }
 
.contents-main {
	float: left;
	padding: 10px 20px 10px 20px;
	width: 590px; }
 
.form_text {
	float: left;
	font-size: 10px;
	width: 540px; }
 
.form_number {
	color: #999999;
	float: left;
	font-size: 14px;
	width: 30px; }
 
.status-text {
	border: 1px solid #aaaaaa;
	color: #999999;
	font-size: 14px;
	height: 35px;
	margin: 0 0 10px 0;
	padding: 8px;
	width: 554px; }
 
.status-btn {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -280px -0px;
	border: 0;
	color: #2490b7;
	height: 34px;
	width: 79px; }
 
.post {
	border-top: 1px solid #dfebf1;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	width: 570px; }
 
.post-pic {
	background: #f2f2f2;
	float: left;
	text-align: center;
	width: 50px; }
 
.post-user {
	float: left;
	margin: 0 0 0 15px;
	padding: 15px 0 0 0;
	text-align: left;
	width: 505px; }
 
.pager { text-align: center; }
 
	.pager li { display: inline; }
 
.post-icon {
	float: left;
	width: 60px; }
 
.post-content {
	float: left;
	width: 510px; }
 
	.post-content span { color: #999999; }
 
	.post-content img { margin: 0 10px 0 0; }
 
	.post-content table {
		margin: 5px 0 0 0;
		padding: 0; }
 
	.post-content td {
		margin: 0;
		padding: 0;
		text-align: left; }
 
.post-rt {  }
 
.post-imgtitle {
	font-size: 18px;
	margin: 0 0 3px 0; }
 
.post-person {
	font-size: 10px;
	margin: 0 0 5px 0; }
 
	.post-person img {
		margin: 0;
		vertical-align: top; }
 
	.post-person span {  }
 
.post-voice { font-size: 14px; }
 
	.post-voice span { vertical-align: top; }
 
	.post-voice img { margin: 0 4px 0 0; }
 
.post-work { font-size: 18px; }
 
.post-days {
	color: #999999;
	font-size: 10px;
	margin-bottom: 5px; }
 
.rt_ul li {
	display: inline;
	font-size: 10px;
	margin: 0 0 0 10px; }
 
.post-form {
	background: #f0f8fb;
	padding: 3px; }
 
	.post-form span { vertical-align: top; }
 
.status-btn2 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -359px -0px;
	border: 0;
	color: #2490b7;
	font-size: 10px;
	height: 26px;
	margin: 0 0 0 5px;
	vertical-align: top;
	width: 79px; }
 
.status-text2 {
	border: 1px solid #aaaaac;
	font-size: 12px;
	height: 18px;
	padding: 6px 0 0 5px;
	width: 410px; }
 
.post-img {
	float: left;
	text-align: center;
	width: 156px; }
 
.post-side {
	float: left;
	margin: 0 0 0 4px;
	width: 350px; }
 
.post-comment {
	background: #eff5f8;
	color: #333333;
	font-size: 10px;
	margin: 1px 0 0 0;
	padding: 5px 0;
	width: 100%; }
 
	.post-comment span {  }
 
.post-comment {  }
 
	.post-comment img {
		margin: 0 5px 0 0;
		vertical-align: top; }
 
.color-work { color: #989898; }
 
.bt_more a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -75px;
	display: block;
	height: 27px;
	margin: 30px auto 0 auto;
	padding: 8px 0 0 0;
	text-align: center;
	width: 550px; }
 
.bt_paging {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -359px -0px;
	border: 0;
	color: #2490b7;
	font-size: 10px;
	height: 26px;
	line-height: 2.5em;
	margin: 0 0 0 5px;
	vertical-align: top;
	width: 79px; }
 
/*-------------------------------------------------
.contents-right
-------------------------------------------------*/
.contents-right {
	float: left;
	width: 224px; }
 
.area_right {
	background-color:#ffffff;
	border:1px solid #d6dee5;
	margin: 0 0 10px 0;
	position: relative;
	width: 222px;
	border-radius: 5px;
	-moz-border-radius: 5px;}
 
.area_rightMore {
	padding: 5px 10px 5px 0;
	text-align: right; }
 
.area_rightSpace { background: #EEF0F3;
margin: 2px;
padding: 2px; }
 
.area_rightNews { padding: 5px; }
 
.area_rightNews li { line-height: 20px; }

.area_rightNews > .adingo_keywords { font-size: 15px; }

.area_right_strong {
	background-color:#fffaed;
	border:5px solid #ebd59a;
	text-align:center;
	padding:10px;
	margin: 0 0 10px 0;
	position: relative;
	width: 194px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight:bold;}
	

 
.contents-right li {  }
 
.navi_on { background: #ffffff; }
 
/*-------------------------------------------------
# footer
-------------------------------------------------*/
#footer {
	width: 970px; }
 
	#footer .footer_menu {background: #fff;border: 1px solid #d6dee5;border-radius:5px 0 5px 5px / 5px 0 5px 5px;-moz-border-radius:5px 0 5px 5px / 5px 0 5px 5px;-webkit-border-radius:5px 0 5px 5px / 5px 0 5px 5px;}
 
	#footer .gototop {
		padding: 5px 0 0 0;
		text-align: right; }
 
		#footer .gototop a {padding:3px 10px 1px; text-decoration: none;background: #fff; border-top: 1px solid #d6dee5;border-left: 1px solid #d6dee5;border-right: 1px solid #d6dee5;border-radius:5px 5px 0 0 / 5px 5px 0 0;-moz-border-radius:5px 5px 0 0 / 5px 5px 0 0;-webkit-border-radius:5px 5px 0 0 / 5px 5px 0 0;}
 
	#footer ul {
		padding: 10px 0 0 0;
		text-align: center; }
 
	#footer li {
		display: inline;
		margin: 0 5px; }
 
	#footer p {
		line-height: 30px;
		text-align: center; }
 
	#footer .copyright { color: #333333; }
 
 
/*-------------------------------------------------
Layout
-------------------------------------------------*/
#oneColumn:before {
display: block;
position:  absolute;
top: -15px;
left: -1px;
background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -250px -1800px;
overflow: hidden;
width: 970px;
height: 15px;
content: '';
}
#oneColumn {
position:  relative;
background: #ffffff;
border-left: 1px solid #d6dee5;
border-right: 1px solid #d6dee5;
width: 968px;
margin: 25px auto;
padding: 5px 0 0px 0;
text-align: center;
 }
#oneColumn:after {
display: block;
position:  absolute;
left: -1px;
background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -250px -220px;
width: 970px;
height: 15px;
margin-bottom: 10px;
float: left;
content: '';
}
    .oneColumTitle {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    }
    .oneColumBlock{
    padding: 30px 0;
    }

/* お知らせ、ニュースレイアウト */

.iiclm-a_left{
float:left;
width:736px;
}

.iiclm-a_left>.area {
 background-color:#ffffff;
 border:1px solid #d6dee5;
 border-radius: 5px;
 -moz-border-radius: 5px;
margin:0 0 10px; 
 }

.iiclm-a_left>.area>.area_title>h2 {
font-size: 20px;
font-weight: bold;
padding:5px 10px;
} 
 
.iiclm-a_left>.area>.area_title>h3 {
font-size: 16px;
font-weight: bold;
padding:3px;
}

.iiclm-a_left>.area>.area_title>h3>a {
color:#333333;
}

/* .iiclm-a_left>.area>.info_headding>p {
float:right;
margin:7px 10px 0 0 ;
} */

.iiclm-a_right{
float:right;
width:224px;
}

/*------------------------
parts
------------------------*/
.flatNav li {
	float: left; }
.flatNav:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0; }
 
/*-------------------------------------------------
InnerSearch
-------------------------------------------------*/
.inner_search { float: right; }
 
/*-------------------------------------------------
ExtraNavi
-------------------------------------------------*/
.extra_on {
	background: #ffffff;
	border-left: 1px solid #d6dee5;
	border-right: 1px solid #d6dee5;
	border-top: 1px solid #d6dee5;
	font-weight: bold;
	margin: 0 0 -1px 0; }
 
.extra_off{
/* border-bottom:1px solid #b3d4e55; */
padding-top:10px;
}

 
.extra_on span { font-weight: bold; }
 
.extaraNavi {
	border-bottom: 1px solid #d6dee5;
	padding: 0px 10px 0px 10px; }
 
	.extaraNavi p {
		float: left;
		margin-right: 5px;
		padding: 7px 12px 7px 12px; }
 
.extaraNaviAlso {
	background: #f2f4f6;
	border-top: 1px solid #ffffff; }
 
.centeredNavi {
	margin: 0 ;
	overflow: hidden;
	position: relative; }
 
	.centeredNavi ul {
		float: left;
		left: 50%;
		position: relative; }
 
		.centeredNavi ul li {
			float: left;
			left: -50%;
			margin: 10px 15px 10px 10px;
			position: relative; }
 
	.centeredNavi span { font-weight: bold; }
 
.centeredNaviForupload {
	margin: 0 ;
	overflow: hidden;
	position: relative; }
 
	.centeredNaviForupload ul {
		float: left;
		left: 50%;
		position: relative; }
 
		.centeredNaviForupload ul li {
			float: left;
			left: -50%;
			line-height: 52px;
			margin: 0px 15px 0px 10px;
			position: relative; }
 
	.centeredNaviForupload span { font-weight: bold; }
 
.forBookmark {
	float: right;
	line-height: 40px;
	padding-right: 10px;
	text-align: right;
	width: 140px; }
 
	.forBookmark span {
		font-size: 10px;
		font-weight: normal; }
 
.add_bookmark {
	float: right;
	padding: 5px 0px 0 0; }
 
	.add_bookmark a {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -681px;
		border: none;
		display: block;
		font-size: 12px;
		font-weight: normal;
		height: 24px;
		line-height: 25px;
		text-align: center;
		text-decoration: none;
		width: 139px; }
 
		.add_bookmark a:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -705px; }
 
.add_bookmarkManga {  }
 
	.add_bookmarkManga a {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -681px;
		border: none;
		display: block;
		font-weight: normal;
		height: 24px;
		line-height: 25px;
		text-align: center;
		text-decoration: none;
		width: 139px; }
 
		.add_bookmarkManga a:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -705px; }
 
/*-------------------------------------------------
Adver
-------------------------------------------------*/
.adver_type01 {
	border: 1px solid #00aee3;
	margin: 0 auto;
	width: 658px; }
 
	.adver_type01 p { padding: 10px 20px; }
 
/*-------------------------------------------------
Button
-------------------------------------------------*/
.btn_type01 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -625px;
	border: 0;
	color: #258fb8;
	height: 24px;
	width: 120px; }
 
input.btn_type01:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -649px; }
 
.btn_type02 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -120px -344px;
	border: 0;
	color: #258fb8;
	height: 34px;
	width: 130px; }
 
input.btn_type02:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -120px -378px; }
 
.btn_type03 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -681px;
	border: none;
	color: #258fb8;
	height: 24px;
	text-align: center;
	width: 139px; }
 
input.btn_type03:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -705px; }
 
.btn_type04 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -139px -290px;
	border: none;
	color: #258fb8;
	height: 24px;
	text-align: center;
	width: 71px; }
 
input.btn_type04:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -139px -314px; }
 
.btn_type05 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -795px -1950px;
	border: none;
	color: #258fb8;
	height: 24px;
	text-align: center;
	width: 79px; }
 
input.btn_type05:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -795px -1974px; }
 
.btn_type06 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -414px;
	border: none;
	color: #258fb8;
	height: 24px;
	text-align: center;
	width: 222px; }
 
input.btn_type06:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png')no-repeat -0px -438px; }
 
.btn_type07 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -79px -220px;
	border: none;
	color: #258fb8;
	height: 26px;
	text-align: center;
	width: 79px;
	cursor: pointer;
}
 
input.btn_type07:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -79px -246px; }
 
.btn_type08 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -575px;
	border: none;
	color: #258fb8;
	height: 24px;
	text-align: center;
	text-decoration: none;
	width: 160px; }
 
input.btn_type08:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -599px; }
 
.btn_type09 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -344px;
	border: none;
	color: #258fb8;
	font-size: 14px;
	height: 34px;
	text-align: center;
	text-decoration: none;
	width: 120px; }
 
input.btn_type09:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -378px; }
 
.btn_type10 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -625px;
	border: none;
	color: #258fb8;
	height: 24px;
	text-align: center;
	text-decoration: none;
	width: 120px; }
 
input.btn_type10:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -649px; }
 
.btn_type11 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -120px -625px;
	border: none;
	color: #258fb8;
	height: 24px;
	text-align: center;
	text-decoration: none;
	width: 120px; }
 
input.btn_type11:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -120px -649px; }
 
.btn_type12 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -142px -520px;
	border: none;
	color: #258fb8;
	height: 24px;
	text-align: center;
	text-decoration: none;
	width: 100px; }
 
input.btn_type12:hover { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -142px -544px; }
 
.ahref_type01 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -575px;
	border: none;
	color: #258fb8;
	display: block;
	font-size: 11px;
	height: 20px;
	padding-top: 4px;
	text-align: center;
	text-decoration: none;
	width: 160px; }
 
.ahref_type01 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -575px;
	border: none;
	color: #258fb8;
	display: block;
	font-size: 11px;
	height: 20px;
	padding-top: 4px;
	text-align: center;
	text-decoration: none;
	width: 160px; }
 
	.ahref_type01 a:hover {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -599px;
		display: block;
		text-decoration: none; }
 
.ahref_type02 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -466px;
	border: none;
	color: #258fb8;
	font-size: 11px;
	height: 26px;
	text-align: center;
	text-decoration: none;
	width: 156px; }
 
	.ahref_type02 a:hover {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -492px;
		text-decoration: none; }
 
.ahref_type03 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -79px -220px;
	border: none;
	color: #258fb8;
	display: block;
	font-size: 11px;
	height: 22px;
	padding: 4px 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 79px; }
 
	.ahref_type03 a:hover {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -79px -246px;
		text-decoration: none; }
 
.ahref_type04 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -139px -290px;
	border: none;
	color: #258fb8;
	display: block;
	height: 24px;
	text-align: center;
	text-decoration: none;
	width: 71px; }
 
	.ahref_type04 a:hover {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -139px -314px;
		text-decoration: none; }
 
.ahref_type05 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -681px;
	border: none;
	color: #258fb8;
	display: block;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	width: 139px; }
 
	.ahref_type05 a:hover {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -705px;
		text-decoration: none; }
 
.ahref_type06 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -344px;
	border: none;
	color: #258fb8;
	display: block;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	width: 120px; }
 
	.ahref_type06 a:hover {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -378px;
		text-decoration: none; }
 
.ahref_type07 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -575px;
	border: none;
	color: #258fb8;
	display: block;
	font-size: 12px;
	line-height: 24px;
	margin-top: 7px;
	text-align: center;
	text-decoration: none;
	width: 160px; }
 
	.ahref_type07 a:hover {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -599px;
		text-decoration: none; }
 
.ahref_type08 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -414px;
	border: none;
	color: #258fb8;
	display: block;
	font-size: 12px;
	line-height: 24px;
	margin-top: 7px;
	text-align: center;
	text-decoration: none;
	width: 222px; }
 
	.ahref_type08 a:hover {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -438px;
		text-decoration: none; }
 
 /*-------------------------------------------------
tweet,staccボタン周り
-------------------------------------------------*/

.shareunit {}

.shareunit.row li {
	display: inline-block;
	line-height: normal;
	font-size: 12px;
	vertical-align: top;
  margin-right: 5px;
}

.shareunit.row li:first-child {
	margin-right: 7px;
}

.shareunit.col li {
	display: block;
	font-size: 12px;
}

/*-------------------------------------------------
Icon
-------------------------------------------------*/ 
.icon_circle {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1700px -1343px;
	padding-left: 20px; }

.icon_event {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat 2px -359px;
	padding: 0 0 0 20px; }
 
.icon_eventMap {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1700px -1375px;
	padding-left: 20px;
	font-weight:bold;
	font-size:14px; }
 
.icon_officialIconPro {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat -160px -740px;
	height: 14px;
	margin: 3px auto;
	width:72px;
	text-indent: -9999px; }
 
.icon_edit {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat -198px -593px;
	padding-left: 23px; }
 
.icon_folder {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat -198px -512px;
	padding-left: 23px; }
 
.icon_openfolder {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat -198px -553px;
	padding-left: 23px; }
 
.borderSpace {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1720px -1415px;
	padding: 3px 3px 3px 0; }
 
.icon_twitter {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1700px -1842px;
	font-weight: normal;
	padding-left: 23px; }
 
.icon_twitter2 {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1700px -1840px;
	font-weight: normal;
	padding-left: 23px; }
 
/*
.icon_stacc {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat 2px -438px;
	display: inline-block;
	font-weight: normal;
	padding-left: 23px; }
	*/
	
.ui-stacc-button,
.icon_stacc{
	border: 1px solid #CFE0E9;
	border-radius: 5px;-moz-border-radius:5px;-webkit-border-radius:5px;
	color:#258Fb8;
	padding: 0 8px 0 25px;
	text-align:center;
	display: inline-block;
	font:normal normal normal 12px/18px arial;
	background-image: linear-gradient(top, #fcfcf8, #c6c674);
	background-image: -moz-linear-gradient(top, #fcfcf8, #c6c674);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcf8), color-stop(1, #c6c674));
	background: #f2f4f6 url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat 5px -438px;
	text-decoration:none;	}

.ui-stacc-button:hover,
.icon_stacc:hover{
	text-decoration:none;
	background-color:#e9edf2;
	border:1px solid #a6cbde;}
 
.icon_novel {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1700px -1870px;
	display: inline-block;
	font-weight: normal;
	height: 23px;
	padding: 0;
	width: 23px; }
 
.icon_star {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1700px -35px;
	display: inline-block;
	font-weight: normal;
	height: 18px;
	padding: 0;
	width: 18px; }
 
/* News ICON */
.icon_new {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat -14px -398px;
	margin: 0 0 0 0px;
	padding: 0 0px 0 17px; }
 
.icon_picture {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat 2px -398px;
	margin: 0 0 0 0px;
	padding: 0 0px 0 12px; }
 
.icon_pictureNew {
	background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat 2px -398px;
	margin: 0 0 0 0px;
	padding: 0 0px 0 32px; }
 
a.twitter-share-button {
	display: inline-block;
	width: 55px;
	height: 25px; }
 
.borderDot { border-top: 1px dotted #c8d0d6; }
 
.borderTop {
	border-top: 1px solid #e9e9e9;
	padding: 5px 0; }
 
.borderLine { background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1250px -1700px; }
 
/*-------------------------------------------------
Banner
-------------------------------------------------*/
.areaBanner { margin: 0 0 10px 0; }
 
.areaBanner01 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1250px -2150px;
	display: block;
	height: 60px;
	margin: 0 0 5px 0;
	text-indent: -9999px;
	width: 176px; }
 
.areaBanner02 a {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1250px -2210px;
	display: block;
	height: 60px;
	margin: 0 0 5px 0;
	text-indent: -9999px;
	width: 176px; }


/*--------------------------------------------------
Adver
-------------------------------------------------*/
.adver_top {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -420px -0px;
	padding: 10px 0px 0 0px;
	text-align: center;
	width: 784px;
    overflow: hidden; }
        .adver_top iframe{
        margin-top:3px;
        }
    .adver_topBottom {
    	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -420px -94px;
    	font-size: 1px;
    	height: 5px;
    	margin: 0 0 10px 0;
    	width: 784px; } 
    
.adver_wrap {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -250px -235px;
	padding-top: 10px;
	text-align: center;
	width: 970px; }
        .adver_wrap iframe{
        margin-top:12px;
        }
    .adver_wrapBottom {
    	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -250px -410px;
    	height: 5px;
    	margin: 0 0 10px 0;
    	width: 970px; }
    
div.adverLeft {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1250px -2050px;
	height: 62px;
	padding: 8px;
	text-align: center;
	width: 158px; }
 
.adver_Rightcolumn { margin: 0 0 10px 0; }
 
	.adver_Rightcolumn p {
		background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1450px -980px;
		height: 20px;
		text-align: center;
		width: 224px; }
 
.adver_column {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -800px;
	height: 86px;
	margin-bottom: 10px;
	padding: 8px 0 0 0;
	text-align: center;
	width: 970px; }
    
 
.adver_footer {
	text-align: center;
}
    
        .adver_footer iframe{
        margin-top:12px;
        }
 
.adver_amazon {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -0px -920px;
	height: 110px;
	margin: 15px 0 0 0;
	padding: 6px 0 0 0;
	text-align: center;
	width: 970px; }
 
.adver_subframe { margin: 0 0 10px 0; }
 
.adverTitle {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -750px -2160px;
	height: 19px;
	padding: 2px 0 0 0;
	text-align: center;
	width: 224px; }
 
.adverTop {
	margin: 0 0 10px 0;
	text-align: center;
	width: 970px; }
 
.adver_header {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -250px -2030px;
	padding-top: 10px;
	text-align: center;
	width: 970px; }
 
.adver_headerBottom {
	background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -250px -2205px;
	height: 5px;
	margin: 0 0 10px 0;
	text-align: center;
	width: 970px; }
    
    
    a.tooltip {
        background:url('http://source.pixiv.net/source/images/sprite_20101101.png') no-repeat -1700px -204px; 
        display:block;
        float:right;
    	position: relative;
        top:-5px;right:5px;
    	height: 16px;
    	width: 20px;
        line-height: 1.8; }
         
         a.tooltip span {
             display: block;
             visibility: hidden;
            }
            
            a.tooltip:hover span {
        		visibility: visible;
                position: absolute;
                top:18px;right:4px;
                overflow:auto;
                z-index: 100; 
                background: #ffffff;
        		border: 3px solid #81abc2;
                padding: 5px 10px;
                width:170px;
        		color: #333333;
        		}
                
                a.tooltip:hover { text-decoration: none; }
                

    
 
/*-------------------------------------------------
Other
-------------------------------------------------*/
.clearfix:after {
	clear: both;
	content: "."; /* 新しい要素を作る */
	display: block; /* ブロックレベル要素に */
	height: 0;
	visibility: hidden; }
 
.clearfix { min-height: 1px; }
 
* html .clearfix { height: 1px; /*\*/ /*/
  height: auto;
  overflow: hidden;
  /**/ }
 
/*-------------------------------------------------
Link
-------------------------------------------------*/
 
/* common */
a:link {
	color: #258fb8;
	text-decoration: none; }
 
a:visited {
	color: #258fb8;
	text-decoration: none; }
 
a:hover { text-decoration: underline; }
 
a:active {
	color: #258fb8;
	text-decoration: none; }

.link_purple a {
	background: #e7e7f7;
	margin: 0 0 0 1px;
	padding: 0 5px; }
 
 .link_green a {
	color: #00a42e;
	background: #e3ffeb;
	padding: 0 5px;}
 
.link_orange a {
	color: #ff6600;
	background: #ffebde;
	padding: 0 5px;}
 
.error { color: #ff0000; }

/* select style */
.linkStyle a:link {
	color: #258fb8;
	text-decoration: none; }
 
.linkStyle a:visited {
	color: #996699;
	text-decoration: none; }
 
.linkStyle a:hover { text-decoration: underline; }
 
.linkStyle a:active {
	color: #258fb8;
	text-decoration: none; }
 
/* works style  */
.linkStyleWorks a:link {
	color: #333333;
	text-decoration: none; }
 
.linkStyleWorks a:visited {
	color: #777777;
	text-decoration: none; }
 
.linkStyleWorks a:hover {
	text-decoration: underline; }
 
.linkStyleWorks a:active {
	color: #333333;
	text-decoration: none; }
 
.linkStyleWorks img {
	display: block;
	margin: 0 auto 5px auto; }
 
/* search style  */
.search_a2_result a:link {
	color: #333333;
	text-decoration: none; }
 
.search_a2_result a:visited {
	color: #777777;
	text-decoration: none; }
 
.search_a2_result a:hover {
	text-decoration: underline; }
 
.search_a2_result a:active {
	color: #333333;
	text-decoration: none; }
 
.search_a2_result img {
	display: block;
	margin: 0 auto 5px auto; }
 
/* profile link  */
.profile_area h2 a:link {
	color: #333333;
	text-decoration: none; }
 
.profile_area h2 a:visited {
	color: #333333;
	text-decoration: none; }
 
.profile_area h2 a:hover {
	color: #333333;
	text-decoration: underline; }
 
.profile_area h2 a:active {
	color: #333333;
	text-decoration: none; }
 
/* mypage 
.top_display_works a:link{color:#258fb8;text-decoration:none;}
.top_display_works a:visited{color:#3f658c;text-decoration:none;}
.top_display_works a:hover{text-decoration:underline;}
.top_display_works a:active{color:#258fb8;text-decoration:none;}
 
 
 NewsTop 
.NewsTop a:link{color:#258fb8;text-decoration:none;}
.NewsTop a:visited{color:#3f658c;text-decoration:none;}
.NewsTop a:hover{text-decoration:underline;}
.NewsTop a:active{color:#258fb8;text-decoration:none;}
 
 
*/
.bg_gray { background: #F7F7F7; }
 
.color_b { color: #000000; }
 
.color_bb {
	color: #000000;
	font-weight: bold; }
 
.color_a { color: #aaaaaa; }
 
.color_g {
	color: #999999;
	font-weight: normal; }
 
.color_6 { color: #666666; }
 
.color_orange { color: #ff6600; }
 
a:focus { outline: none; }
 
 
/*-------------------------------------------------
スタックフィード関連
-------------------------------------------------*/
.staccOnRight {
border:solid #d6dee5 1px;
padding:3px;
margin:0 0 10px 0;
}

.staccOnRightTitle {
height:20px;
background: #f2f4f6;
font-size: 14px;
font-weight: bold;
padding: 5px 10px;
}

.staccOnRightTitle span {
display:inline-block;
text-align:left;
}

.staccOnRightTitle a {
font-weight:bold;
color:#000000;
}

li.staccOnRightList {
text-align:left;
margin: 0;
color:#9BB0C5;
}

li.staccOnRightList+.staccOnRightList,
li.staccOnRightList+.staccOnRightList+.staccOnRightList+.staccOnRightList {
background: #f2f4f6;
margin: 0;
}

li.staccOnRightList+.staccOnRightList+.staccOnRightList,
li.staccOnRightList+.staccOnRightList+.staccOnRightList+.staccOnRightList+.staccOnRightList {
background: none;
}

li.staccOnRightList div {
color:#000;
}

a.staccOnRightListDate {
font-size:10px;
color:#999;
}

li.staccOnRightList {
padding:5px;
}

/*-------------------------------------------------
お知らせ関連
-------------------------------------------------*/
.breadcrumb {
overflow:hidden;
height:2.5em;
font:12px Helvetica,Arial,Sans-Serif;
}
.breadcrumb li {
float:left;
line-height:2.7em;
padding-left:.85em;
color:#777;
}
.breadcrumb li a {
background:url('http://source.pixiv.net/source/images/breadcrumb.gif') no-repeat right center;
display:block;
padding:0 15px 0 0;
}

.info_headding {
font-size:18px;
font-weight:bold;
background:url("http://source.pixiv.net/source/images/sprite-2nd.png?20110706") no-repeat scroll -392px -472px transparent;
text-indent:45px;
height:38px;
padding:10px 0 0 0;
}

.info_headding a {
color:#333333;
float: left;
}

.rss a {
width:15px;
height:14px;
background:url('http://source.pixiv.net/source/images/sprite-2nd.png?20110706') no-repeat -200px -400px;
text-indent:-9999px;
display:block;
}

.info_headding>.rss {
position: relative;
left: 8px;
top: 6px;
}


.news_staccpost {
background:none repeat scroll 0 0 #f2f4f6;
overflow: hidden;
padding: 11px 17px 10px 17px;
position: relative;
margin-bottom: 12px;
}
.news_staccpost ul {
  position: relative;
  left: 50%;
  float: left;
}
.news_staccpost ul li {
  position: relative;
  left: -50%;
  float: left;
  margin:0 10px 0 10px;
}
.news_staccpost_tex {
padding:6px 0 0 0;
}
.news_staccposted {
background:none repeat scroll 0 0 #f2f4f6;
height: 50px;
overflow: hidden;
padding: 15px 0 0 0;
margin-bottom:12px;
position: relative;
}
.news_staccposted ul {
  position: relative;
  left: 50%;
  float: left;
}
.news_staccposted ul li {
  position: relative;
  left: -50%;
  float: left;
  margin:0 10px 0 10px;
}
.news_staccpost_head {
font-size: 12px;
font-weight: bold;
}
.news_staccpost_spacer {
height:5px;
}
.news_staccpost_text {
border:1px solid #aaaaaa;
font-size:14px;
height:37px;
margin-top:5px;
padding:8px;
width:682px;
}
.news_staccpost_form_number {
float:right;
width:48px;
text-align:right;
}
.news_staccpost_btn {
float:right;
margin-top:8px;
width:79px;
height:34px;
background: url('http://source.pixiv.net/source/images/stacc/sprite.png') no-repeat  -280px -0px;
border:0;
color:#2490b7;
cursor:pointer;
}

/*-------------------------------------------------
    calender_ranking
    -------------------------------------------------*/

.calender_ranking_navi {
width:910px;
margin:0 20px;
padding:10px;
background: #F2F4F6;
text-align: center;
font-size: 14px;
}

.calender_ranking_navi > div {
	display:inline-block;
}

div.calender_ranking_navi a.button.disabled {
	background-image: none;
	cursor: default;
	opacity: 0.5;
}

div.calender_ranking_navi ul {
	display: inline;
}

div.calender_ranking_navi li {
	display: inline;
	margin: 0 5px;
	color: #999;
	vertical-align: middle;
}

.calender_ranking_navi div.year {
	display: inline;
	font-weight: bold;
	color: #000;
	vertical-align: middle;
}

.calender_ranking {
width:930px;
margin:0 20px;
background-color:#F2F4F6;
}

.calender_ranking td {
border-top:solid 1px #FFFFFF;
border-right:solid 1px #FFFFFF;
border-bottom:solid 1px #FFFFFF;
vertical-align: top;
padding:2px;
width: 128px;
height:128px;
}

.calender_ranking div {
text-shadow: 1px 1px 1px black;
color:#FFFFFF;
font-size:14px;
font-weight: bold;
position:relative;
width: 128px;
height:128px;
}

.calender_ranking .day {
	position: absolute;
	right: 8px;
	top: 4px;
	line-height: 1;
}

.calender_ranking .date {
	position: absolute;
	left: 8px;
	top: 4px;
	line-height: 1;
}

.calender_ranking .active {
	background-color:#e4e7ee;
}

.calender_ranking .active a:hover {
	color: #fff;
	text-decoration: none;
}

.calender_ranking .active a:hover span.date {
	left: 5px;
	top: 1px;
	padding: 3px;
	text-shadow: none;
	background-color: #258fb8;
/*	text-decoration: underline;*/
	border-radius: 3px;

}
